<style type="text/css" media="print">
    @page {
        /* size: landscape; */
    }
</style>


{% if sites %}
<hr>
<b class="text-justify">Attendance</b>
<hr>
{% for site, results in sites.items() %}

    {% for item, attendances_list in results.items() %}
        <hr>

        {% for shift, at_sheet in attendances_list.shift_classification.items() %}
        <!-- <br>{{site}} - {{at_sheet.attr}} -->



            {% if at_sheet.atts %}
            <div class="" style="border: 2px solid black; padding: 50px; margin: 20px orientation: landscape
              font-size: 10px;">
                <div class="row">
                    <div class="col-md-12 text-black">
                        <span class="pull-left">
                            Location: {{site}}
                        </span>
                        <span class="pull-right">
                            Month: {{month}}
                        </span>
                    </div>
                </div>
                <div class="row"><br>
                    <div class="col-md-12 text-black">
                        <span class="pull-left">
                            Number of Operatives: {{at_sheet.sheets.shift_type}}
                        </span>
                        <span class="pull-right">
                            Position: {{at_sheet.sheets.position}}
                        </span>
                    </div>
                </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Day</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time In</th>
                      <th scope="col">Time Out</th>
                      <th scope="col">No. of E.</th>
                      <th scope="col">Hours</th>
                      <th scope="col">Total Hours</th>
                      <th scope="col">Misc.</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for sheet, days in at_sheet.sheets.table.items() %}
                    <tr>
                        <!-- attendance table ready to display -->
                        <td>{{days.sn}}</td>
                        <td>{{days.day}}</td>
                        <td>{{days.date}}</td>
                        <td>{{days.time_in}}</td>
                        <td>{{days.time_out}}</td>
                        <td>{% if days.no_of_e %}{{days.no_of_e}}{% endif %}</td>
                        <td>{% if days.hours %}{{days.hours}}{% endif %}</td>
                        <td>{% if days.total_hours %}{{days.total_hours}}{% endif %}</td>
                        <td></td>

                        <!-- End attendance table display -->

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row"><br>
                    <div class="col-md-12 text-black">
                        <span class="pull-left">
                            Approved By:_____________
                        </span>
                        <span class="pull-right">
                            _______________
                        </span>
                        <span class="pull-right">
                            Prepared By:
                        </span>

                    </div>
                </div>
                <div class="row"><br>
                    <div class="col-md-12 text-black">
                        <span class="pull-left">
                            LP Supervisor Name:____________
                        </span>
                        <span class="pull-right">
                            _______________
                        </span>
                        <span class="pull-right">
                            Site Supervisor Name:
                        </span>
                    </div>
                </div>
                <div class="row"><br>
                    <div class="col-md-12 text-black">
                        <span class="pull-left">
                            Signature:_____________
                        </span>
                        <span class="pull-right">
                            _______________
                        </span>
                        <span class="pull-right">
                            Signature:
                        </span>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

<!--  -->
{% endfor %}
{% else %}
<h1 class="text-center"></h1>
{% endif %}
