{% extends base_template_path %}
<!DOCTYPE html>
<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/one_fm/assets_landing/css/fontawesome-all.css" rel="stylesheet">
    <title>Careers</title>
</head>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/assets/frappe/js/lib/socket.io.min.js"></script>
<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179243156-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-179243156-1');
    $('.navbar').append(`
        <ul class="navbar-nav mr-3 float-right">
            <a href="#" data-toggle="dropdown" aria-expanded="false">
                <span >
                    <span  title="Language:{{lang}}" data-filter="_assign,like,%null%">
                    <div id = "lang_icon" class="rounded" style="width: fit-content;padding: 1vw;background-color: var(--green-avatar-bg); color: var(--green-avatar-color)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                            <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                            <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                        </svg>
                    </div>
                    </span>
                </span>
            </a>
                <ul class = "dropdown-menu dropdown-menu-right" id="language_selector">
                    <div class="dropdown-menu dropdown-menu-right show" role="menu" >
                        <a id="eng_lang" class="dropdown-item" href="#" rel="nofollow" onclick="change_lang('en')">English</a>
                        <a id="ar_lang" class="dropdown-item" href="#" rel="nofollow" onclick="change_lang('ar')">عربي</a>
                    </div>
                </ul>
    
        </ul>
    `)
            function change_lang(lang){
			frappe.call({
				method: "one_fm.www.careers.index.change_language",
				args: {
					lang: lang,
				},
				freeze: true,
				callback: function(r) {
                    if(r && r.message == true){
                        window.location.reload();
                    }
					}
			});
		}  
  </script>
{% endblock %}
{% block content %}
<body>
    
    <div class="d-flex justify-content-center align-items-center">
        <!-- Recent Openings section -->
        <section id="openings" class="mt-10">
            <div class="container">
                {%if lang =='en'%}
                <div class="d-flex p-2">
                    <h2 class="text-secondary ">Recent Openings</h2>
                </div>
                {% if recent_openings|length > 0 %}
                    {% for opening in recent_openings %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-10">
                                <div class="card mb-5 p-2 shadow bg-white rounded">
                                    <div class="card-body">
                                        <h5 class="card-title float-left">{{ opening.job_title }}</h5>
                                        <p class="card-text float-right"><small>Posted: {{ opening.posting_date }}</small></p>
                                        <div class="clearfix"></div>
                                        <p class="card-text">{{ opening.description }}</p>
                                        <p class="card-text float-right"><small><span class="text-muted"> {{ opening.department }}</span></small></p>
                                            <a href="/careers/opening/{{lang}}/{{opening.name}}"
                                            class="btn btn-dark float-right">View More</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4 class="p-2 text-dark">Stay tuned!</h4>
                {% endif %}
                    {%else%}
                        <div class="d-flex p-2" style="direction: rtl;">
                            <h2 class="text-secondary float-left">الوظائف الشاغرة</h2>
                        </div>
                        {% if recent_openings|length > 0 %}
                            {% for opening in recent_openings %}
                                <div class="row" style="direction: rtl;">
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="card mb-5 p-2 shadow bg-white rounded">
                                            <div class="card-body">
                                                <h5 class="card-title float-right">{{ opening.name_ar }}</h5>
                                                <p class="card-text float-left"><small>Posted: {{ opening.posting_date }}</small></p>
                                                <div class="clearfix"></div>
                                                <p class="card-text">{{ opening.description_ar }}</p>
                                                <p class="card-text float-right"><small><span class="text-muted"> {{ opening.department }}</span></small></p>

                                                    <a href="/careers/opening/{{lang}}/{{opening.name}}"
                                                    class="btn btn-dark float-left">عرض المزيد</a>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="p-2 text-dark">Stay tuned!</h4>
                        {% endif %}
                {% endif %}
            </div>
        </section>
        <!-- End recent openings section -->
    </div>
</body>
{% endblock %}
</html>
