aioboto3==11.2.0
aiobotocore==2.5.0
aiodns==3.0.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.13
aleph-alpha-client==2.17.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.2.0
autoapi==2.0.1
attrs==23.1.0
Babel==2.9.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.9.3
bleach==3.3.1
bleach-allowlist==1.0.3
boto3==1.26.76
botocore==1.29.76
braintree==4.8.0
CacheControl==0.12.11
cachetools==4.2.4
cairocffi==1.2.0
CairoSVG==2.7.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
croniter==1.3.7
cryptography==38.0.4
cssselect==1.1.0
cssselect2==0.7.0
cssutils==2.6.0
dataclasses-json==0.5.7
datefinder==0.7.3
decorator==5.1.1
deeplake==3.6.4
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.6
docopt==0.6.2
docutils==0.19
dropbox==11.7.0
email-reply-parser==0.5.12
entrypoints==0.4
-e git+https://github.com/frappe/erpnext.git@e271935673f1e27d7bd8ab7b7e1731a22b2e0bee#egg=erpnext
et-xmlfile==1.1.0
executing==1.1.0
filelock==3.8.2
firebase-admin==6.0.0
-e git+https://github.com/frappe/frappe.git@f755b423b1188a39c4a92040a8862745cf232b93#egg=frappe
-e git+https://github.com/frappe/frappedesk.git@7388af7ae0b7539347378fc3f49868abaf6e9ddb#egg=frappedesk
frozenlist==1.3.3
fsspec==2023.6.0
ghdiff==0.4
git-url-parse==1.2.2
gitdb==4.0.9
GitPython==3.1.30
gocardless-pro==1.22.0
google-api-core==1.34.0
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.1
google-cloud-firestore==2.5.1
google-cloud-storage==2.5.0
google-cloud-vision==3.1.4
google-crc32c==1.5.0
google-resumable-media==2.4.0
google-trans-new==1.1.9
googleapis-common-protos==1.56.4
googlemaps==4.4.7
gpt-index==0.4.15
greenlet==2.0.2
grpcio==1.49.1
grpcio-status==1.49.1
grpcio-tools==1.49.1
gspread==5.7.2
gunicorn==20.1.0
-e git+https://github.com/frappe/helpdesk.git@f25f31a9a8afc3eae81ae5ee787e1086b030e1ef#egg=helpdesk
hiredis==2.0.0
-e git+https://github.com/frappe/hrms.git@66f7fb641f7fbb4ca58d0052a82de57a36884b43#egg=hrms
html2text==2020.1.16
html5lib==1.1
httplib2==0.20.4
huggingface-hub==0.15.1
humbug==0.3.1
idna==3.4
imagesize==1.4.1
install==1.3.5
ipinfo==4.4.2
ipython==8.4.0
isodate==0.6.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonobject==2.0.0
langchain==0.0.96
langchainplus-sdk==0.0.10
ldap3==2.9.1
llama-index==0.6.27
-e git+https://github.com/frappe/lms.git@3b1b375d5bfcb943ae6bea8cb3e6be825f2e2154#egg=lms
lxml==4.9.1
Mako==1.2.4
Markdown==3.4.3
markdown2==2.4.5
markdownify==0.11.6
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
maxminddb==2.2.0
maxminddb-geolite2==2018.703
mindee==3.9.1
monotonic==1.6
msgpack==1.0.4
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==0.4.3
nest-asyncio==1.5.6
nltk==3.8.1
num2words==0.5.12
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.23.3
oauthlib==3.2.2
-e git+https://github.com/ONE-F-M/One-FM.git@1bd99aa207be89add0ba228cea528cf4a61164ca#egg=one_fm
-e git+https://github.com/ONE-F-M/password_management.git@6a859c8a74e211fa114bd9a3866eb27298b895f3#egg=one_fm_password_management
-e git+https://github.com/ONE-F-M/one_fm_website.git@acfd1cab314844188965ea5a76b91873f29436ff#egg=one_fm_website
-e git+https://github.com/ONE-F-M/one_wiki.git@e7e9909a943963b848ef278a250276f60d3a6d12#egg=one_wiki
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.0.10
packaging==21.3
pandas==1.5.0
parso==0.8.3
passlib==1.7.4
pathos==0.3.0
-e git+https://github.com/frappe/payments.git@15bd4b4dd92d3cb05ee0efe757f3857562e474e9#egg=payments
paytmchecksum==1.7.0
pbr==5.10.0
pdfkit==1.0.0
pdoc3==0.10.0
pexpect==4.8.0
phonenumbers==8.12.40
pickleshare==0.7.5
pikepdf==6.2.9
Pillow==9.3.0
plaid-python==7.2.1
ply==3.11
posthog==3.0.1
pox==0.3.2
ppft==1.7.6.6
premailer==3.8.0
prompt-toolkit==3.0.31
proto-plus==1.22.1
protobuf==3.20.3
prun==0.3.1
psutil==5.9.2
psycopg2-binary==2.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.3.0
pycountry==20.7.3
pycparser==2.21
pycryptodome==3.10.4
pygls==0.10.2
pydantic==1.10.9
Pygments==2.13.0
PyJWT==2.4.0
PyMySQL==1.0.2
pyngrok==5.1.0
pyOpenSSL==22.1.0
pyotp==2.6.0
pyparsing==3.0.9
PyPDF2==2.1.1
pyphen==0.13.0
PyPika==0.48.9
pypng==0.20220715.0
PyQRCode==1.2.1
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==6.1.2
python-stdnum==1.17
python-youtube==0.8.2
pytz==2023.3
PyYAML==6.0
rauth==0.7.3
razorpay==1.2.0
redis==3.5.3
redisearch==2.1.1
regex==2022.9.13
rejson==0.5.6
requests==2.31.0
requests-oauthlib==1.3.1
RestrictedPython==6.0
rq==1.11.1
rsa==4.9
s3transfer==0.6.1
safetensors==0.3.1
schedule==1.1.0
scipy==1.9.1
semantic-version==2.10.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.48
sqlparse==0.4.3
stack-data==0.5.1
stone==3.3.1
stripe==2.56.0
taxjar==1.9.2
tenacity==8.1.0
terminaltables==3.1.10
text-unidecode==1.3
tiktoken==0.4.0
tinycss2==1.1.1
tokenizers==0.13.3
tqdm==4.65.0
traceback-with-variables==2.0.4
traitlets==5.4.0
transformers==4.30.2
tweepy==3.10.0
twilio==6.44.2
typeguard==2.13.3
-e git+https://github.com/frappe/twilio-integration.git@cb474c54d794c3a58a8c5287d387cf3d41e5ed0a#egg=twilio_integration
typing-inspect==0.8.0
typing_extensions==4.5.0
Unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.26.12
wcwidth==0.2.5
WeasyPrint==52.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
Whoosh==2.7.4
-e git+https://github.com/frappe/wiki.git@995f221444dea190f0f087844375c3c37ad9b0b4#egg=wiki
wrapt==1.15.0
xlrd==2.0.1
yarl==1.9.2
zxcvbn==4.4.28
zxcvbn-python==4.4.24
