<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One FM</title>
    <link href="assets/one_fm/assets/css/applicant_login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
</head>

<body>
    <main>
        <article class="main-container">
            <div class="row login-wrapper">

                <!-- Contenido del lado izquierdo -->
                <section class="col form-wrapper">

                    <!-- Header con links y botón de back -->

                    <!-- Contenedor del formulario y sus mensajes -->
                    <div class="form-container">

                        <!-- Mensaje de login -->
                        <div class="form-messages">
                            <h2>Signup</h2>
                            <p>Welcome! Please, fill username and password to sign in into your account.</p>
                        </div>

                        <!-- Formulario -->
                        <form action="fakeurl.php" class="form">
                            <input type="email" name="user-email" id="user-email" placeholder="Type your email">
                            <input type="password" name="user-password" id="user-password"
                                placeholder="Type your password">
                            <!-- <a href="#" class="forgot-pass">Forgot your password?</a> -->
                            <a onclick="signup()" class="login-button">Sign Up Now</a>
                        </form>

                        <!-- Separador entre botón y opciones -->
                        <hr class="separator">

                        <!-- Otras opciones de inicio login -->
                        <div class="login-options">

                            <p class="login-text">You can also Sign Up with:</p>

                            <div class="login-icons">
                                <a href="#" onclick="linkedIn()"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-google g-signin2" data-onsuccess="onSignIn"></i></a>
                            </div>

                        </div>

                    </div>

                </section>

                <!-- Contenido del lado derecho -->
                <section class="col image-wrapper">

                    <div class="image-message">

                        <div class="image-hr-container">
                            <hr class="image-hr">
                        </div>

                        <div class="image-text">
                            <h2>Start your journey now</h2>
                            <p>Start your amazing JOB with us! Login into your account now and huwala.</p>
                        </div>

                    </div>

                </section>
            </div>
        </article>
    </main>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script>
</body>

</html>