.main-container{
    width: 68vw;
    height: auto;
    padding: 11vh;
    margin: 0vh 16vw;
    display: block;
}
.form-container{
    width: 60vw;
    background: #f7f8fd;
    padding: 2rem;
    border-radius: 9px;
    border: 1px solid #e8e8e8;
}
.message-block-icon {
	width: 50px;
	min-width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #5e64ff12;
	border-radius: 50%;
	margin-right: 0.5em;
	color: #fff;
	font-size: 1.5em;
	color: #5e64ff;
	border: 1px solid #5e64ff1c;
}
.message-block-info {
	font-size: 1.8rem;
	font-weight: 700;
	/* color: #5e64ff; */
}
.message-block-info span {
	font-size: 0.875rem;
	font-weight: 400;
	display: block;
	color: #bebfca;
}
.message-block-head{
    display: flex;
}
label {
    font-size: 0.785em;
    font-weight: 700;
    text-transform: uppercase;
    color: #bebfca;
}
.form-wrapper{
    padding: 2px 10px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
}
label {
    font-size: 0.785em;
    font-weight: 700;
    text-transform: uppercase;
    color: #bebfca;
>>>>>>> 5d0450a8 (Call Kuwaiti Civil ID API)
}
.form-wrapper{
    padding: 2px 10px;
=======
=======
>>>>>>> 45f6e326 (Resolve Conflicts)
}
.input{
    width:25vw;
}
.input2{
<<<<<<< HEAD
    width: 15.5vw;
>>>>>>> 4c34b307 (Call Kuwaiti Civil ID API)
>>>>>>> 5424a161 (Call Kuwaiti Civil ID API)
=======
    width:15.5vw;
>>>>>>> 45f6e326 (Resolve Conflicts)
}