{% extends "templates/web.html" %}

{% block breadcrumbs %}
  {% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block script %}
  <script>{% include "templates/pages/applicant_docs.js" %}</script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  <script src="/assets/frappe/js/lib/socket.io.min.js"></script>
  <script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
{% endblock %}

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Facilities Management | Easy Job Application Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <article class="main-container m-auto p-auto">
            <div >
                <section class="form-wrapper">
                    <div class="message-block-head d-flex">
                        <div class="message-block-info p-1 m-1">
                            <h2>Greetings! Please attach the requested documents and fill out the form below.</h2>
                                <h5>This form is intended for:</h5>
                                <h6>Applicant: {{applicant_name}}</h6>
                                <h6>Email: {{email_id}}</h6>
                                <h6>Role: {{applicant_designation}}</h6>
                            
                            <span>Kindly, attach your civil ID below. Note: attach image file only!</span>
                        </div>
                    </div>

                    <!-- Contenedor del formulario y sus mensajes -->
                    <div class="form-container border border-secondary bg-light p-4 m-2 rounded">

                        <!-- Mensaje de login -->


                        <!-- Formulario -->
                        <form class="form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label  for="file">Upload Front Side of your civil ID:</label>
                                    <input class="form-control" type="file" id="Civil_ID_Front" placeholder="Front Civil ID" name="file"  accept="image/png, image/jpeg" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label  for="file">Upload Back Side of your civil ID:</label>
                                    <input class="form-control" type="file" id="Civil_ID_Back" placeholder="Back Civil ID"  name="file"  accept="image/png, image/jpeg" >
                                    <br>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="form-group col-md-6">
                                        <label  for="file">Upload Front Side of your passport:</label>
                                        <input class="form-control" type="file" id="Passport_Front" placeholder="Front Passport"  name="file"  accept="image/png, image/jpeg" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label  for="file">Upload Back Side of your passport:</label>
                                        <input class="form-control" type="file" id="Passport_Back" placeholder="Back Passport"  name="file"  accept="image/png, image/jpeg" >
                                        <br>
                                    </div>
                            </div>


                            <div>
                                <button class="btn btn-primary btn-lg" type="button" href="json.json" value="submit" id="fileUpload" onclick="upload()" class="btn btn-primary">Upload!</button>
                            </div>
                        </form>

                    </div>

                </section>
            </div>
                <br><br>

                <div  id="finalForm  m-auto p-auto">

                <div>

                    <!-- Contenido del lado izquierdo -->
                    <section class="form-wrapper" id="finalForm">
                        <div class="message-block-head d-flex">
                        <div class="message-block-info p-1 h2 m-1">
                                <p id="output_message" style="font-size: 22px;"></p>
                            </div>
                        </div>

                        <div class="form-container border border-secondary bg-light p-4 m-2 rounded">

                            <!-- Mensaje de login -->


                            <!-- Formulario -->
                            <form class="form">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label  for="Name">Name:
                                        <input class="form-control input" type="text" data="{{job_applicant.name}}" is_kuwaiti="{{is_kuwaiti}}" size="50" id="Name" name="name" ></label><br><br>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label  for="Arabic_Name">Name(ar):
                                        <input class="form-control input" type="text" id="Arabic_Name" name="ar_name" size="50"></label><br><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 w-50">
                                        <label  for="Gender">Gender
                                        <select class="form-control input" id="Gender" name="gender" aria-placeholder="Gender" >
                                            <option value="select" selected disabled>Select Your Gender...</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select></label><br>  <br>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label  for="Date_Of_Birth">Date Of Birth:
                                        <input class="form-control input" type="date" id="Date_Of_Birth" onchange="test(this)" name="dob" size="50"></label><br><br>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="Civil_ID_No">Civil ID Number:
                                        <input class="form-control input" type="text" id="Civil_ID_No" name="civilid" size="50"></label><br><br>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label  for="Expiry_Date">Civil ID Expiry Date:
                                        <input class="form-control input" type="date" id="Expiry_Date" name="civil_expiry_date" size="50"><br><br>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4 w-75">
                                        <label  for="Nationality">Nationality:
                                        <select class="form-control input2" id="Nationality" name="nationality" aria-placeholder="Select Your Nationality">
                                            <option value="select" selected disabled>Select Your Nationality</option>
                                        </select></label><br>  <br>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label  for="Country_Code">Country Code:
                                        <input class="form-control input2" type="text" id="Country_Code" name="country_code" onchange="fetchNationality(this)" size="50"></label><br>  <br>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label  for="Birth_Place">Place of Birth:
                                        <input class="form-control input2" type="text" id="Birth_Place" name="birth_place" size="50"></label><br>  <br>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label  for="PACI_No">PACI No.:
                                        <input class="form-control input" type="text" id="PACI_No" name="paci_no" size="50" ></label><br>  <br>
                                    </div>

                                    <div class="form-group col-md-6" id="Sponsor">
                                        <label  for="Sponsor_Name">Sponsor
                                        <input class="form-control input"  type="text" id="Sponsor_Name" name="sponsor" size="50"></label><br><br>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label  for="Passport_Number">Passport Number
                                        <input class="form-control input" type="text" id="Passport_Number" name="passport_no" size="50"></label><br><br>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label  for="Passport_Type">Passport Type:
                                        <select class="form-control input" id="Passport_Type" name="passport_type" aria-placeholder="Passport Type">
                                            <option value="select" selected disabled>Passport Type...</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Diplomat">Diplomat</option>
                                        </select></label><br>  <br>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label  for="Passport_Date_of_Issue">Passport Date of Issue:
                                        <input class="form-control input2" type="date" id="Passport_Date_of_Issue" name="p_date_of_issue" size="50"></label><br><br>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label  for="Passport_Date_of_Expiry">Passport Expiry Date:
                                        <input class="form-control input2" type="date" id="Passport_Date_of_Expiry" name="passport_expiry_date" size="50"></label><br><br>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label  for="Passport_Place_of_Issue">Passport Place of Issue:
                                        <input class="form-control input2" type="text" id="Passport_Place_of_Issue" name="p_place_of_issue" size="50"></label><br><br>
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <button class="btn btn-primary btn-lg" type="button" href="json.json" value="submit" id="submitForm" onclick="Submit()" class="btn btn-primary">Submit!</button>
                                </div>
                                <p id="demo"></p>
                            </form>

                        </div>

                    </section>
                </div>
            </div>
        </article>
    </main>
</body>

</html>
{% endblock %}
