{% extends "templates/web.html" %}

{% block breadcrumbs %}
  {% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block script %}
  <script>{% include "templates/pages/career_history.js" %}</script>
{% endblock %}

{% block header %}
  <h5 id="job_applicant" data="{{ job_applicant.name }}">Hey {{job_applicant.applicant_name}} !,
		You’re Applying for {{job_applicant.one_fm_designation}} Position.</h5>
	<h5>Enter all the details about your career in below form and tell us How great you’re!</h5>
{% endblock %}

{% block page_content %}
	<br/>
	<div class="row col-lg-12 col-md-12 mb-12 main_section">
		<h3>So {{job_applicant.applicant_name}}, Tell me about your first Company you worked on?</h3>
		<div class="my-5 col-lg-6 col-md-6">
			<label class="form-label">First Company Name </label>
			<input type="text" class="form-control company1" id="company1" placeholder="Enter the First Company Name"/>
		</div>
		<div class="my-5 col-lg-6 col-md-6">
			<label class="form-label">Where is it Located? </label> <br>
			<select class="form-control country_list">
				<option>Select Country</option>
				{% for country in country_list %}
					<option>{{country.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="mb-3 col-lg-6 col-md-6">
			<label class="form-label">When Do you Joined that company</label>
			<input type="date" class="form-control"/>
		</div>
		<div class="col-lg-12 col-md-12">
			<label for="Responisbilities" class="form-label">What are your top 3 Responisbilities?</label>
			<input type="text" class="form-control mb-3" placeholder="1"/>
			<input type="text" class="form-control mb-3" placeholder="2"/>
			<input type="text" class="form-control mb-3" placeholder="3"/>
		</div>
		<div class="col-lg-12 col-md-12">
			<hr class="my-5"/>
		</div>
		<div class="mb-3 col-lg-6 col-md-6">
			<label  class="form-label">What was your Starting Job Title?</label>
			<input type="text" class="form-control" placeholder="Enter the Job Title"/>
		</div>
		<div class="promotion_section_1" style="width: 100%">
			<div class="col-lg-12 col-md-12 promotion_section_11">
				<label  class="form-label">Did You Got any Promotion or Salary Increase?</label>
				<select class="custom-select promotion_select_11">
					<option value="0">No, I did not get any Promotion or Salary Increase</option>
					<option value="1">Yes, I Got a Promotion with a Salary Increase</option>
					<option value="2">Yes, Only Got a Promotion</option>
					<option value="3">Yes, Only Got a Salary Increase</option>
				</select>
			</div>
			<div class="row col-lg-12 col-md-12 my-5 promotion_details_section_11" style="width: 100%; display: flex" id="promotion_details_section_11">

			</div>
		</div>


		<div class="col-lg-12 col-md-12 mb-3">
			<label>Are You still working for the same Company?</label>
			<select class="custom-select still_working_on_company1">
				<option value="0">Choose</option>
				<option value="1">Yes</option>
				<option value="2">No</option>
			</select>
		</div>


	</div>

	<br/>
	<div class="col-sm-12">
	<button class="btn btn-primary btn-sm btn-submit-career-history" type="button">{{ _("Submit") }}</button>
	</div>
{% endblock %}
