{% extends "templates/web.html" %}

{% block breadcrumbs %}
  {% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block script %}
  <script>{% include "templates/pages/career_history.js" %}</script>
{% endblock %}

{% block header %}
  <h5 id="job_applicant" data="{{ job_applicant.name }}">Hey {{job_applicant.applicant_name}},
		you’re applying for the {{job_applicant.designation}} position.</h5>
	<h5>Enter all the details about your career in the below form and tell us how great you are!</h5>
{% endblock %}

{% block page_content %}
	<br/>
	<div class="row col-lg-12 col-md-12 mb-12 main_section">

	</div>

	<br/>
	<div class="col-sm-12">
	<button class="btn btn-primary btn-sm btn-submit-career-history" type="button">{{ _("Submit") }}</button>
	</div>
{% endblock %}
