{% extends "templates/web.html" %}

{% block breadcrumbs %}
  {% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block script %}
  <script>{% include "templates/pages/job_application.js" %}</script>
{% endblock %}

{% block header %}
  <h5 id="job_opening" data="{{ job_opening.name }}">Dear Applicant, May I know who is applying for the postion of {{ job_opening.designation }} ?</h5>
{% endblock %}

{% block page_content %}
  <!-- Applicant Name Section -->
  <div class="row">
    <div class="col-sm-6">
      <input type="text" class="form-control text-left applicant_name" placeholder="Enter Your Name" style="margin-top: 5px;display: inline-block">
    </div>
  </div>

  <!-- Country List Section -->
  <p style='margin-top: 30px' class="applicant_country"></p>

  <div class="row applicant_country_section">
    <div class="col-sm-6">
      <select class="form-control country_list hide">
        <option>Select Country</option>
        {% for country in country_list %}
          <option>{{country.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Contact Section -->
  <p style='margin-top: 30px' class="applicant_contact"></p>

  <div class="row applicant_contact_section">
    <div class="col-sm-6">
      <input type="text" class="form-control text-left contact_number hide" placeholder="Enter Your Mobile Number" style="margin-top: 5px;display: inline-block">
    </div>
    <div class="col-sm-6">
      <input type="text" class="form-control text-left contact_email hide" placeholder="Enter Your Email ID" style="margin-top: 5px;display: inline-block">
    </div>
  </div>

  <!-- CV Section -->
  <p style='margin-top: 30px' class="applicant_cv"></p>

  <div class="row applicant_cv_section">
    <div class="col-sm-6 cv-file hide" id="cv-file">
      <input class="cv" type="file" id="cv"/>
    </div>
  </div>
  <br/>
  <div class="col-sm-12">
    <button class="btn btn-primary btn-sm btn-submit-application" type="button">{{ _("Submit") }}</button>
  </div>
{% endblock %}
