 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content="one website">
	<meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="title" content="Facility Management Company in Kuwait | One FM">
  <meta name="description" content="Leader of world-class commercial & integrated security management systems in Kuwait">
  <meta name="keywords" content="Facility management services company in Kuwait, FM services in Kuwait, facility management, facilities management, soft FM, hard FM, facilities management companies in Kuwait, facility management companies in Kuwait, facility management company in Kuwait, top facility management companies in Kuwait, united facility management company Kuwait, list of facility management companies in Kuwait, facilities management company in Kuwait, top 10 facility management companies in Kuwait, best facility management company in Kuwait">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">


	<title>ONE FM | Facility Management Services in Kuwait</title>
	<!-- <link rel="icon" href="assets/one_fm/assets_landing/images/logo.png" type="image/png"> -->
  <link rel="icon" href="assets/one_fm/assets/img/logo-img/favicon.ico" type="image/png">
	<!-- Stylesheets -->
	<link href="assets/one_fm/assets_landing/css/bootstrap.css" rel="stylesheet">
	<link href="assets/one_fm/assets_landing/css/fontawesome-all.css" rel="stylesheet">
	<link href="assets/one_fm/assets_landing/css/material-design-iconic-font.css" rel="stylesheet">
	<link href="assets/one_fm/assets_landing/css/owl.carousel.min.css" rel="stylesheet">
	<link href="assets/one_fm/assets_landing/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="assets/one_fm/assets_landing/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="assets/one_fm/assets_landing/css/style.css" rel="stylesheet">

	<!-- Responsive -->
	<link href="assets/one_fm/assets_landing/css/responsive.css" rel="stylesheet">
	<script src="assets/one_fm/assets_landing/js/jquery-1.12.2.min.js"></script>
</head>
<body>

	<div id="preloader">
        <div class="loading"></div>
    </div>

	<div class="mobile-menu">
	    <div class="menu-mobile">
	        <div class="brand-area">
	            <a href="#">
	            	<img src="assets/one_fm/assets_landing/images/logo.svg">
	            </a>
	        </div>
	        <div class="mmenu">
		        <ul>
					<li><a href="#home" rel="m_PageScroll2id">Home</a></li>
					<li><a href="#about" rel="m_PageScroll2id">About us</a></li>
					<li><a href="#services" rel="m_PageScroll2id">Our services</a></li>
					<li><a href="#clients" rel="m_PageScroll2id">clients</a></li>
					<!-- <li><a href="#jobs" rel="m_PageScroll2id">jobs</a></li> -->
          <li><a href="/jobs" rel="m_PageScroll2id">jobs</a></li>
					<li><a href="#contact" rel="m_PageScroll2id">Contact us</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</div>
		</div>
		<div class="m-overlay"></div>
	</div>
	<!--mobile-menu-->
	<div class="main-wrapper">
		<header id="header">
			<div class="container">
				<div class="logo-site">
					<a href="#"><img src="assets/one_fm/assets_landing/images/logo.svg" alt="" class="img-responsive"></a>
				</div>
				<ul class="main_menu clearfix">
					<li><a href="#home" rel="m_PageScroll2id">Home</a></li>
					<li><a href="#about" rel="m_PageScroll2id">About us</a></li>
					<li><a href="#services" rel="m_PageScroll2id">Our services</a></li>
					<li><a href="#clients" rel="m_PageScroll2id">clients</a></li>
					<!-- <li><a href="#jobs" rel="m_PageScroll2id">jobs</a></li> -->
          <li><a href="/jobs" rel="m_PageScroll2id">jobs</a></li>
					<li><a href="#contact" rel="m_PageScroll2id">Contact us</a></li>
          <li><a href="/login">Login</a></li>
					<!-- <li><a href="https://dev.one-fm.com/login#login">Login</a></li> -->
				</ul>
				<button type="button" class="hamburger is-closed">
			        <span class="hamb-top"></span>
			        <span class="hamb-middle"></span>
			        <span class="hamb-bottom"></span>
			    </button>
			</div>
		</header>
		<!--header-->

		<section class="section_home" id="home">
			<div class="container">
				<div class="flex-home">
					<div class="home_txt">
						<video src="assets/one_fm/assets_landing/images/Security-officers-hd.mp4" autoplay="true" loop="true"></video>
					</div>
					<div class="home_title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
						<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">The complete LEADER OF COMMERCIAL
						<span>AUTOMATION </span>&
						INTEGRATED SECURITY
						MANAGEMENT SYSTEMS </h1>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
              ONE Facilities Management company established itself to provide the best in class, effective, safe,
              trackable, result-oriented, and flexible <em><a href="https://www.one-fm.com/">facility management services
              in Kuwait</a></em> to a wide range of businesses to ensure the functionality, comfort, safety, and efficiency of
              a built environment.
            </p>
					</div>
				</div>
			</div>
		</section>
		<!--section_home-->

		<section class="section_about" id="about">
			<div class="container">
			    <div class="owl-carousel" id="slider-about">
			        <div class="item">
			            <div class="row">
                            <div class="col-md-4">
                                <div class="ab-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
                                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s"">Why we are ONE</h1>
                                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s"">One FM is the most widely recognized facility
                                      management provider supporting large clients in all industries of Kuwait. We are growing at a rapid pace to be
                                      the impactful facilities management providers in Kuwait.</p>
                                    <a href="#services" class="link">OUR SERVICES LIST</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ab-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
                                    <img src="assets/one_fm/assets_landing/images/Modern-business-woman.jpg" />
                                </div>
                            </div>
                        </div>
			        </div>
			        <div class="item">
			            <div class="row">
                            <div class="col-md-4">
                                <div class="ab-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
                                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">ONE FM helps you to ensure the functionality,
                                      comfort, safety, and efficiency of your buildings, grounds, infrastructure, and real estate. With the skills
                                      and expertise, ONE FM provides facility management hard and facility management soft services in Kuwait.</p>
                                    <a href="#services" class="link">OUR SERVICES LIST</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ab-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
                                    <img src="assets/one_fm/assets_landing/images/Technician.jpg" />
                                </div>
                            </div>
                        </div>
			        </div>
			        <div class="item">
			            <div class="row">
                            <div class="col-md-4">
                                <div class="ab-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
                                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s"">Why we are ONE</h1>
                                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s"">Our One FM hard services deals with the physical assets such as plumbing,
                                      cleaning, HVAC, Electrical, Landscaping, Our soft FM services focuses on security
                                      guards, accounting, custodial services, ground staff, general helpers, and all kinds
                                      of supportive staff.</p>
                                    <a href="#services" class="link">OUR SERVICES LIST</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ab-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
                                    <img src="assets/one_fm/assets_landing/images/Modern-network.jpg" />
                                </div>
                            </div>
                        </div>
			        </div>
			    </div>
            </div>
		</section>
		<!-- section_about -->

		<section class="section_services" id="services">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="box-service">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service1.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.200s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.200s">SECURITY SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.200s">We are using the latest technology
									& programs in securing our sites with experienced security guards and supervisors. We are the best in providing professionally trained security guards to a wide range of industries in different sectors.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service2.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.200s">HVAC SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.200s">After deep studies and considerations in the field, we provide maintenance services by a wide variety of coverage options to keep your indoor air systems safe and reliable by maintaining Air Condition & HVAC systems.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service3.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.200s">GENERATOR SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.200s">We have decades of experience in the field and successfully providing our Generator Maintenance, Repair, Troubleshooting services from small scale organizations to the large scale organizations in all related sectors in Kuwait.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service4.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.300s">CLEANING SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.300s">As a professional cleaning company, we have better equipment than most other companies in Kuwait. We have all the equipments and professional tools to get your job done.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service5.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.300s">PLUMBING SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.300s">We have expert technicians who offer a wide range of services for the new installations and complete plumbing repair or troubleshooting services.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service6.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.300s">IT SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.300s">We using the latest procedures & technologies in implementing the best security services in Kuwait by using advanced proposing techniques and strong reporting systems that help us and our clients to be aware of all details.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service last">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service7.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.400s">ELECTRICAL & AC SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.400s">We offer a wide range of services includes Electrical Engineering, Wiring, Ground Testing and Electricians to
									our commercial & industrial customers. We provide expert services to our clients meeting their needs and requirements. We ensure our customers by providing efficient Electrical Maintenance services.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service last">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service8.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.400s">LANDSCAPING SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.400s">We have specialized engineers and experienced professionals in the field of landscaping who visit your site and inspect the soil, surface, water, and drainage to deliver the landscaping services by meeting your requirements.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-service last">
							<div class="img-serv">
								<img src="assets/one_fm/assets_landing/images/service9.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							</div>
							<div class="txt-serv">
								<h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.400s">FACILITIES MANAGEMENT SERVICES</h4>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.400s">We operate on the business functions by helping clients, customers and end users understand the potential impact of their decisions on the provision of space, services, cost, and business risk. We ensure a corporate and cost-effective environment for the organizations to function.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- section_services -->

		<section class="section_client" id="clients">
			<video src="assets/one_fm/assets_landing/images/videoClients.mp4" autoplay="true" loop="true"></video>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="sec-client">
							<div class="client-title">
								<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Our partners</h1>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">We work with a variety of businesses and about each of our customers</p>
							</div>
							<div class="owl-carousel owl-theme" id="clientSlider">
								<div class="item">
									<div class="img-client">
										<img src="assets/one_fm/assets_landing/images/partner1.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner2.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner4.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner5.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
									</div>
								</div>
								<div class="item">
									<div class="img-client">
										<img src="assets/one_fm/assets_landing/images/partner1.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner2.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner4.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner5.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
									</div>
								</div>
								<div class="item">
									<div class="img-client">
										<img src="assets/one_fm/assets_landing/images/partner1.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner2.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner4.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner5.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
									</div>
								</div>
								<div class="item">
									<div class="img-client">
										<img src="assets/one_fm/assets_landing/images/partner1.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner2.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner3.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner4.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
										<img src="assets/one_fm/assets_landing/images/partner5.png" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="sec-counter">
							<div class="counter">
								<div class="number-count line">
									<h3 class="counter-count appear wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" data-speed="2000" data-to="04">05</h3>
									<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Clients</p>
								</div>
								<div class="number-count">
									<h3 class="counter-count appear wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" data-speed="2000" data-to="02">02</h3>
									<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Projects</p>
								</div>
								<div class="number-count">
									<h3 class="counter-count appear wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" data-speed="2000" data-to="01">01</h3>
									<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Sites</p>
								</div>
								<div class="number-count">
									<h3 class="counter-count appear wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" data-speed="2000" data-to="06">06</h3>
									<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Employers</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- section_client -->

		<section class="section_jobs" id="jobs">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="job-quesion">
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Are you a good fit?</p>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Check our open positions!</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="job-info">
							<h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">JR. ACCOUNTANT</h5>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">We've got a vacancy for you! We're looking for a great accuontant to work alongside  our team.</p>
							<a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">view vaccancy</a>
						</div>
						<div class="job-info">
							<h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">FRONT-END DEVELOPER</h5>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">ou're in the right place then! This job opening is for you: we're looking for a great Front-End Developer to work alongside our Design and Development teams.</p>
							<a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">view vaccancy</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="job-info">
							<h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">FRONT-END DEVELOPER</h5>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">ou're in the right place then! This job opening is for you: we're looking for a great Front-End Developer to work alongside our Design and Development teams.</p>
							<a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">view vaccancy</a>
						</div>
						<div class="job-info">
							<h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">JR. ACCOUNTANT</h5>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">We've got a vacancy for you! We're looking for a great accuontant to work alongside  our team.</p>
							<a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">view vaccancy</a>
						</div>
						<div class="job-note">
							<h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">NOTHING FOR YOU HERE?</h5>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Anyway, if you think you could still be a good fit, </p>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">feel free to self apply.</p>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Say <span>hello@one-fm.com</span></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- section_jobs-->

		<section class="section_contact" id="contact">
			<div class="contact-map">
			    <img src="assets/one_fm/assets_landing/images/Business-people.jpg" alt="" />
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="title-contact">
							<h5 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Or get in touchwith us!</h5>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Whether you have a question about features, trials, pricing, or anything else, our team is ready to answer all your questions</p>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Address: 32059, Hawally – 44403</p>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Phone: +965 22651654</p>
						</div>
					</div>
					<div class="col-md-5">
						<form class="form-contact">
							<div class="form-group">
								<input type="text" value="" placeholder="Your name" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" required>
							</div>
							<div class="form-group">
								<input type="email" value="" placeholder="Your E-mail" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" required>
							</div>
							<div class="form-group">
								<input type="text" value="" placeholder="Message subject" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" required>
							</div>
							<div class="form-group">
								<textarea placeholder="Your message" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s"></textarea>
							</div>
						</form>
					</div>
					<div class="col-md-4">

					</div>
				</div>
				<footer>
					<div class="box-footer">
						<div class="txt-footer">
							<img src="assets/one_fm/assets_landing/images/logoFooter.svg" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s" alt="">
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">info@one-fm.com</p>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">(+351) 226 001 751</p>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">Legal © 2020</p>
						</div>
						<div class="txt-footer">
							<ul class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
								<li><a href="#home" rel="m_PageScroll2id">Home</a></li>
								<li><a href="#about" rel="m_PageScroll2id">About us</a></li>
								<li><a href="#services" rel="m_PageScroll2id">Our services</a></li>
								<li><a href="#clients" rel="m_PageScroll2id">clients</a></li>
								<!-- <li><a href="#jobs" rel="m_PageScroll2id">jobs</a></li> -->
                <li><a href="/jobs" rel="m_PageScroll2id">jobs</a></li>
								<li><a href="#contact" rel="m_PageScroll2id">Contact us</a></li>
							</ul>
						</div>
						<div class="txt-footer">
							<ul class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
								<li><a href="" >Support</a></li>
								<li><a href="">Press</a></li>
								<li><a href="">Newsletter</a></li>
								<li><a href="">Brand Assets</a></li>
							</ul>
						</div>
						<div class="txt-footer">
							<ul class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
								<li><a href="" >Cookie policy</a></li>
								<li><a href="">Terms & conditions</a></li>
								<li><a href="">Privacy policy</a></li>
								<li><a href="">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="social-media wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.500s">
						<a href=""><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
						<a href=""><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a>
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-linkedin"></i></a>
					</div>
				</footer>
			</div>
		</section>
		<!-- section_contact -->


	</div>
	<!--main-wrapper-->

	<script src="assets/one_fm/assets_landing/js/bootstrap.min.js"></script>
	<script src="assets/one_fm/assets_landing/js/owl.carousel.min.js" type="text/javascript"></script>
	<script src="assets/one_fm/assets_landing/js/jquery.malihu.PageScroll2id.min.js"></script>
	<script src="assets/one_fm/assets_landing/js/wow.js"></script>
	<script src="assets/one_fm/assets_landing/js/script.js"></script>

	<script>
		new WOW().init();

		(function($){
			$(window).on("load",function(){

				/* Page Scroll to id fn call */
				$("a[rel='m_PageScroll2id']").mPageScroll2id({
					scrollSpeed: 1200
					,scrollEasing:"easeOutQuint"
					,liveSelector:"a[rel='m_PageScroll2id']"
				});

			});
		})(jQuery);

		/*Loading Page
============================*/
$(window).load(function () {

    "use strict";

    $(".loading").fadeOut(2000, function () {

        $("body").css({

            position: "static",

            top: "auto",

            bottom: "auto",

            height: "auto"

        });

        $(this).parent().fadeOut(2000, function () {

            $(this).remove();

        });
    });
});

	</script>
	<script>
		function myMap() {
		var mapProp= {
			center:new google.maps.LatLng(51.508742,-0.120850),
			zoom:5,
		};
		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		}
		</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDluJ2gHFz5urot7mm6NTtsm95Iz7uFpeg&callback=myMap"></script>

</body>
</html>
