<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy | ONE FM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/one_fm/assets/css/privacy-policy.css">

<body>
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1 class="heading">
                            Privacy Policy for One Facilities Management.
                        </h1>
                        <span class="subheading">
                            Last updated: April 29, 2021
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <ul class="job-list">
                        <li>
                            This Privacy Policy describes our policies and procedures on the collection, use and
                            disclosure of your information when you use the service and tells you about your privacy
                            rights
                            and how the
                            law protects you.
                        </li> <br />
                        <li>
                            We use your personal data to provide and improve the service. By using the service, you
                            agree to the collection and use of information in accordance with this Privacy Policy.
                        </li><br />
                        <h2>Interpretation and Definitions Interpretation</h2>
                        <li>
                            The words of which the initial letter is capitalized have meanings defined under the
                            following conditions. The following definitions shall have the same meaning regardless of
                            whether they appear in the singular or in the plural.
                        </li><br />
                        <h3>Definitions</h3>
                        <li>
                            For the purposes of this Privacy Policy:
                        </li><br />
                        <li>
                            <b>Account</b> means a unique account created for you to access our service or parts of our
                            service. means a unique account created for you to access our service or parts of our
                            service.
                        </li><br />
                        <li>
                            <b>Company</b> (referred to as either "the Company", "We", "Us" or "Our" in this Agreement)
                            refers to One Facilities Management, 32059, Hawally – 44403.
                        </li><br />
                        <li>
                            <b>Cookies</b> are small files that are placed on your computer, mobile device or
                            any other device by a website, containing the details of your browsing history on that
                            website among its many uses.
                        </li><br />
                        <li>
                            <b>Country</b> refers to: Kuwait
                        </li><br />
                        <li>
                            <b>Device</b> means any device that can access the Service such as a computer, a cellphone
                            or a digital tablet.
                        </li><br />
                        <li>
                            <b>Personal Data</b> is any information that relates to an identified or identifiable
                            individual.
                        </li><br />
                        <li>
                            <b>Service</b> refers to the Website
                        </li><br />
                        <li>
                            <b>Service</b> Provider means any natural or legal person who processes the data on behalf
                            of the Company. It refers to third-party companies or individuals employed by the Company to
                            facilitate the Service, to provide the Service on behalf of the Company, to perform services
                            related to the Service or to assist the Company in analyzing how the Service is used.
                        </li><br />
                        <li>
                            <b>Usage Data</b> refers to data collected automatically, either generated by the use of the
                            Service or from the Service infrastructure itself (for example, the duration of a page
                            visit).
                        </li><br />
                        <li>
                            <b>Website</b> refers to one-fm.com, accessible from <a
                                href="https://www.one-fm.com/">https://www.one-fm.com/</a>
                        </li><br />
                        <li>
                            <b>You</b> means the individual accessing or using the Service, or the company, or other
                            legal entity on behalf of which such an individual is accessing or using the Service, as
                            applicable.
                        </li><br />
                        <h2>Collecting and Using Your Personal Data</h2>
                        <h3>Types of Data Collected</h3>
                        <h4>Personal Data</h4>
                        <li>
                            While using Our Service, we may ask you to provide us with certain personally identifiable
                            information that can be used to contact or identify you. Personally identifiable information
                            may include, but is not limited to, the following:
                        </li><br />
                        <h5>Usage Data</h5>
                        <li>
                            Usage Data is collected automatically when using the service.
                        </li><br />
                        <li>
                            Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP
                            address), browser type, browser version, the pages of our service that you visit, the time
                            and date of your visit, the time spent on those pages, unique device identifiers and other
                            diagnostic data.
                        </li><br />
                        <li>
                            When You access the Service by or through a mobile device, We may collect certain
                            information automatically, including, but not limited to, the type of mobile device You use,
                            Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating
                            system, the type of mobile Internet browser You use, unique device identifiers and other
                            diagnostic data.
                        </li><br />
                        <li>
                            We may also collect information that your browser sends whenever you visit our service or
                            when you access the service by or through a mobile device.
                        </li><br />
                        <h5>Tracking Technologies and Cookies</h5>
                        <li>
                            We use Cookies and similar tracking technologies to track the activity on Our Service and
                            store certain information. Tracking technologies used are beacons, tags, and scripts to
                            collect and track information and to improve and analyze Our Service. The technologies we
                            use may include:
                        </li><br />
                        <li>
                            <b>Cookies or Browser Cookies :</b> A cookie is a small file placed on your device. You can
                            instruct your browser to refuse all cookies or to indicate when a cookie is being sent.
                            However, if you do not accept Cookies, you may not be able to use some parts of our service.
                            Unless you have adjusted your browser setting so that it will refuse Cookies, our service
                            may use Cookies.
                        </li><br />
                        <li>
                            <b>Flash Cookies:</b> Certain features of our Service may use local stored objects (or Flash
                            Cookies) to collect and store information about your preferences or your activity on our
                            Service. Flash Cookies are not managed by the same browser settings as those used for
                            Browser Cookies. For more information on how you can delete Flash Cookies, please read
                            "Where can I change the settings for disabling, or deleting local shared objects?" available
                            at
                        </li><br />
                        <li>
                            <a
                                href="https://www.adobe.com/products/flashplayer/end-of-life.html#">https://www.adobe.com/products/flashplayer/end-of-life.html#</a>
                        </li><br />
                        <li>
                            Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_
                        </li><br />
                        <li>
                            <b>Web Beacons:</b> Certain sections of our Service and our emails may contain small
                            electronic files known as web beacons (also referred to as clear gifs, pixel tags and
                            single- pixel gifs) that permit the Company for example, to count users who have visited
                            those pages or opened an email and for other related website statistics (for example,
                            recording the popularity of a certain section and verifying system and server integrity).
                        </li><br />
                        <li>
                            Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on your personal
                            computer or mobile device when you go offline, while Session Cookies are deleted as soon as
                            you close your web browser. Learn more about cookies: What Are Cookies? We use both Session
                            and Persistent Cookies for the purposes set out below:
                        </li><br />
                        <h3>Necessary / Essential Cookies</h3>
                        <li>
                            Type: Session Cookies Administered by: Us
                        </li><br />
                        <li>
                            Purpose: These cookies are essential to provide you with services available through the
                            Website and to enable you to use some of its features. They help to authenticate users and
                            prevent fraudulent use of user accounts. Without these Cookies, the services that you have
                            asked for cannot be provided, and we only use these Cookies to provide you with those
                            services.
                        </li><br />
                        <h5>Cookies Policy / Notice Acceptance Cookies</h5>
                        <li>
                            Type: Persistent Cookies<br />

                            Administered by: Us<br />

                            Purpose: These cookies identify if users have accepted the use of cookies on the
                            Website.<br />
                        </li><br />
                        <h5>Functionality Cookies</h5>
                        <li>
                            Type: Persistent Cookies<br />

                            Administered by: Us<br />

                            Purpose: These cookies allow us to remember choices You make when you use the Website, such
                            as remembering your login details or language preference. The purpose of these cookies is to
                            provide you with a more personal experience and to avoid you having to re-enter your
                            preferences every time You use the Website.<br />

                            For more information about the cookies we use and your choices regarding cookies, please
                            visit our Cookies Policy or the Cookies section of our Privacy Policy.<br />
                        </li><br />
                        <h5>Use of Your Personal Data</h5>
                        <li>
                            The Company may use Personal Data for the following purposes:<br />

                            <b>To provide and maintain our Service</b> including to monitor the usage of our
                            Service.<br />

                            <b>To manage your account:</b> To manage your registration as a user of the service. The
                            Personal
                            Data You provide can give you access to different functionalities of the service that are
                            available to you as a registered user.<br />

                            <b>For the performance of a contract:</b> The development, compliance and undertaking of the
                            purchase contract for the products, items or services You have purchased or of any other
                            contract with us through the Service.<br />

                            <b>To contact you:</b> To contact you by email, telephone calls, SMS or other equivalent
                            forms of
                            electronic communication, such as a mobile application's push notifications regarding
                            updates or informative communications related to the functionalities, products or contracted
                            services, including the security updates, when necessary or reasonable for their
                            implementation.<br />

                            To provide you with news, special offers and general information about other goods, services
                            and events which we offer that are similar to those that you have already purchased or
                            enquired about unless you have opted not to receive such information.<br />

                            <b>To manage your requests:</b> To attend and manage your requests to us.<br />

                            <b>For business transfers:</b> We may use Your information to evaluate or conduct a merger,
                            divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some
                            or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or
                            similar proceeding, in which Personal Data held by Us about our Service users is among the
                            assets transferred.<br />

                            <b>For other purposes:</b> We may use your information for other purposes such as data
                            analysis,
                            identifying usage trends, determining the effectiveness of our promotional campaigns and to
                            evaluate and improve our services, products, marketing and your experience.<br />

                            We may share your personal information in the following situations:<br />

                            <b>With Service Providers:</b> We may share your personal information with Service Providers
                            to
                            monitor and analyze the use of our service, to contact you.<br />

                            <b>For business transfers:</b> We may share or transfer your personal information in
                            connection
                            with or during negotiations of any merger, sale of Company assets, financing or acquisition
                            of all or a portion of our business to another company.<br />

                            <b>With Affiliates:</b> We may share your information with Our affiliates in which case we
                            will
                            require those affiliates to honor this Privacy Policy. Affiliates include our parent company
                            and any other subsidiaries, joint venture partners or other companies that we control or
                            that are under common control with us.<br />

                            <b>With business partners:</b> We may share your information with our business partners to
                            offer
                            you certain products, services or promotions.<br />

                            <b>With other users:</b> when you share personal information or otherwise interact in the
                            public
                            areas with other users, such information may be viewed by all users and may be publicly
                            distributed outside.<br />

                            <b>With your consent:</b> We may disclose your personal information for any other purpose
                            with your
                            consent.<br />
                        </li><br />
                        <h3>Retention of Your Personal Data</h3>
                        <li>
                            The Company will retain your Personal Data only for as long as is necessary for the purposes
                            set out in this Privacy Policy. We will retain and use your Personal Data to the extent
                            necessary to comply with our legal obligations (for example, if we are required to retain
                            your data to comply with applicable laws), resolve disputes, and enforce our legal
                            agreements and policies.<br />

                            The Company will also retain Usage Data for internal analysis purposes. Usage data is
                            generally retained for a shorter period of time, except when this data is used to strengthen
                            the security or to improve the functionality of Our Service, or we are legally obligated to
                            retain this data for longer time periods.<br />

                            <b>Transfer of your Personal Data</b><br />

                            Your information including Personal Data is processed at the Company's operating offices and
                            in any other places where the parties involved in the processing are located. It means that
                            this information may be transferred to — and maintained on — computers located outside of
                            your state, province, country or other governmental jurisdiction where the data protection
                            laws may differ than those from your jurisdiction.<br />

                            Your consent to this Privacy Policy followed by your submission of such information
                            represents your agreement to that transfer.<br />

                            The Company will take all steps reasonably necessary to ensure that your data is treated
                            securely and in accordance with this Privacy Policy, and no transfer of your Personal Data
                            will take place to an organization or a country unless there are adequate controls in place
                            including the security of your data and other personal information.<br />
                        </li><br />
                        <h3>Disclosure of Your Personal Data Business Transactions</h3>
                        <li>
                            If the Company is involved in a merger, acquisition or asset sale, your Personal Data may be
                            transferred. We will provide notice before your Personal Data is transferred and becomes
                            subject to a different Privacy Policy.<br />

                            <b>Law enforcement</b><br />

                            Under certain circumstances, the Company may be required to disclose your Personal Data if
                            required to do so by law or in response to valid requests by public authorities (e.g. a
                            court or a government agency).<br />

                            <b>Other legal requirements</b><br />

                            The Company may disclose your Personal Data in the good faith belief that such action is
                            necessary to:<br />

                            Comply with a legal obligation<br />

                            Protect and defend the rights or property of the Company<br />

                            Prevent or investigate possible wrongdoing in connection with the service, protect the
                            personal safety of users of the service or the public<br />

                            Protect against legal liability<br />

                            <b>Security of your Personal Data</b><br />

                            The security of your Personal Data is important to us, but remember that no method of
                            transmission over the Internet, or method of electronic storage is 100% secure. While we
                            strive to use commercially acceptable means to protect your Personal Data, we cannot
                            guarantee its absolute security.<br />

                            <b>Children's Privacy</b><br />

                            Our service does not address anyone under the age of 13. We do not knowingly collect
                            personally identifiable information from anyone under the age of 13. If you are a parent or
                            guardian and you are aware that your child has provided us with Personal Data, please
                            contact us. If we become aware that we have collected Personal Data from anyone under the
                            age of 13 without verification of parental consent, we take steps to remove that information
                            from our servers.<br />

                            If we need to rely on consent as a legal basis for processing Your information and your
                            country requires consent from a parent, we may require your parents' consent before we
                            collect and use that information.<br />

                            <b>Links to Other Websites</b><br />

                            Our service may contain links to other websites that are not operated by us. If you click on
                            a third party link, you will be directed to that third party's site. We strongly advise you
                            to review the Privacy Policy of every site You visit.<br />

                            <b>Changes to this Privacy Policy</b><br />

                            We may update our Privacy Policy from time to time. We will notify you of any changes by
                            posting the new Privacy Policy on this page.<br />

                            We will let you know via email and/or a prominent notice on Our Service prior to the change
                            becoming effective and update the "Last updated" date at the top of this Privacy
                            Policy.<br />

                            You are advised to review this Privacy Policy periodically for any changes. Changes to this
                            Privacy Policy are effective when they are posted on this page.<br />

                            <b>Contact Us</b><br />

                            If you have any questions about this Privacy Policy, you can contact us by email:
                            info@one-fm.com<br />
                        </li><br />
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/assets/frappe/js/lib/socket.io.min.js"></script>
    <script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
</body>

</html>