<style>
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, .late_arrival td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  color: #333;
  width: 30%;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

</style>

<p>The Following Bank Account needs to be processed. Kindly, take action. </p>
<table>
  <tbody class="bank_account">
    <tr>
      <th>Bank Account Name:</th>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <th>Employee</th>
      <td>{{ employee }}</td>
    </tr>
    <tr>
      <th>Bank</th>
      <td>{{ bank }}</td>
    </tr>
    <tr>
      <th>IBAN</th>
      <td>{{ iban }}</td>
    </tr>
    
  </tbody>
</table>
