
<tr>
    <td style="font-family: 'Cairo', sans-serif;color:#4b4b4c;" mc:edit="tm2-04" valign="top" >
        <p>Dear Hussain, </p>
        <p>This is a automatic reminder. Please find below list of names we request GP Letters but it has been more than 3 days without any upload. Please upload as soon as possible. IF you are facing issues please call <b>{{ grd_name }}</b> at <b>{{ grd_number }}</b>   </p><br>


        <table style="color:#71746f;width:45%;" class="table">
            <tr style="background-color: #eee;">
                <td>Sr No.</td>
                <td>Name</td>
            </tr>
            {%- for row in candidates -%}
                <tr>
                    <td>{{ row.idx }}</td>
                    <td>{{ row.candidate }}</td>
                </tr>
            {%- endfor -%}
        </table>


        <br><br>


        <p>Thank you.</p>
        <p>Best regards.</p>

    </td>
</tr>


<tr>
    <td style="font-size:30px; line-height:30px;" valign="top" height="30" align="center">&nbsp;</td>
</tr>