
<tr>
    <td style="font-family: 'Cairo', sans-serif;color:#4b4b4c;" mc:edit="tm2-04" valign="top" >
        <p>Dear GRD, </p><br>
        <p> GP Letter Request number <b>{{ gp_letter_request }}</b>, is rejected.</p>
        <p>Please select another supplier from <a href="{{ page_link }}" >here</a></p>

        <br>


        <p>Thank you.</p>
        <p>Best regards.</p>

    </td>
</tr>


<tr>
    <td style="font-size:30px; line-height:30px;" valign="top" height="30" align="center">&nbsp;</td>
</tr>