<style>
    table {
      font-family: Arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    th, .notify_recruitment_manager td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    th {
      background-color: #f2f2f2;
      color: #333;
      width: 30%;
      text-align: left;
    }
    
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
    tr:hover {
      background-color: #ddd;
    }
    
    </style>
    
    <div class="salutation">
        <h4 class="salutation">Dear Recruiter, </h1>
    </div>
    
    <table>
      <tbody class="notify_recruitment_manager">
        <tr>
          <th>Document Type</th>
          <td>{{ doc_type }}</td>
        </tr>
        <tr>
          <th>Document Name</th>
          <td>{{ erf_name }}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>A new Employee Requisition Form has been submitted and requires your attention. Please review this request in the ERP and take the necessary action.</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>The details of the requisition are shown below:<br>
              <b>Job Title:</b> {{ job_title }}<br>
              <b>Department:</b> {{ department }}<br>
              <b>Date Required:</b> {{ date_of_deployment }}<br>
              <b>Requested By:</b> {{ requester }}

            </td>
        </tr>
        <tr>
          <th>Document Link</th>
          <td><a href={{doc_link}}>Doc Link</a></td>
        </tr>
      </tbody>
    </table>
    