{% extends 'templates/web.html' %}

{%- block style %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.bootstrap4.min.css">
{%- endblock -%}


{%- block page_content -%}
<div class="">
<h2 style="text-align: center;">Knowledge Base</h2>
<p>This a is published collection of documentation for ONE-FM
  that includes answers to frequently asked questions,
  how-to guides and other helpful tips that will guide you on how to use the ERP system.<br>
  Please search for related article in the search box below.
</p>
</div>

<table id="kb" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Article</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
          {% for i in help_article %}
            <tr>
                <td><a href="{{i.route}}">{{i.title}}</a></td>
                <td>{{i.category}}</td>
            </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
              <th>Article</th>
              <th>Category</th>
            </tr>
        </tfoot>
</table>

{%- endblock -%}

{%- block script %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
<script>
  $(document).ready(function() {
      var table = $('#kb').DataTable( {
          lengthChange: false,
          // buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
      } );

      table.buttons().container()
          .appendTo( '#kb .col-md-6:eq(0)' );
  } );

</script>
{%- endblock %}
