<div id="OKR-APP">
    <div class="container" id="app-container" style="display:none;">
      <div class="container_">
        <div class = "objective_divs">
          <div class = "company_goal"><b>The Goal:[% %]</b></div>
          <div class = "company_objective"><b>Company Objective: [% %]</b></div>
          <div class = "quarter_comp_objective"><b>Company Objective Quarter: [% %]</b></div>
          <div class = "my_objective"><b>My Objective: [% %]</b></div>
        </div>
        <div class = "year_filter">
            
        </div>
        <div class = "quarter_filter">
          
        </div>
        <div class="portrait-container">
          
        </div>
        <div class="boxes-container">
          <div class="box" id="box1">
            <h4>Routine Tasks</h4>Count 10
            <ul>
              <li><a href="#">Routine Task 1</a></li>
              <li><a href="#">Routine Task 2</a></li>
              <li><a href="#">Routine Task 3</a></li>
              <li><a href="#">Routine Task 4</a></li>
              <li><a href="#">Routine Task 5</a></li>
              <li><a href="#">Routine Task 1</a></li>
              <li><a href="#">Routine Task 2</a></li>
              <li><a href="#">Routine Task 3</a></li>
              <li><a href="#">Routine Task 4</a></li>
              <li><a href="#">Routine Task 5</a></li>
              <li><a href="#">Routine Task 1</a></li>
              <li><a href="#">Routine Task 2</a></li>
              <li><a href="#">Routine Task 3</a></li>
              <li><a href="#">Routine Task 4</a></li>
              <li><a href="#">Routine Task 5</a></li>
            </ul>
          </div>
          <div class="box" id="box2">
            <h4> Active Repetitive</h4>Count:10
            <ul>
              <li><a href="#">Active Repetitive 1</a></li>
              <li><a href="#">Active Repetitive 2</a></li>
              <li><a href="#">Active Repetitive 3</a></li>
              <li><a href="#">Active Repetitive 4</a></li>
              <li><a href="#">Active Repetitive 5</a></li>
              <li><a href="#">Active Repetitive 1</a></li>
              <li><a href="#">Active Repetitive 2</a></li>
              <li><a href="#">Active Repetitive 3</a></li>
              <li><a href="#">Active Repetitive 4</a></li>
              <li><a href="#">Active Repetitive 5</a></li>
              <li><a href="#">Active Repetitive 1</a></li>
              <li><a href="#">Active Repetitive 2</a></li>
              <li><a href="#">Active Repetitive 3</a></li>
              <li><a href="#">Active Repetitive 4</a></li>
              <li><a href="#">Active Repetitive 5</a></li>
            </ul>
          </div>
          <div class="box" id="box3">
            <h4> Personal Project</h4>Count:10
            <ul>
              <li><a href="#">Personal Project 1</a></li>
              <li><a href="#">Personal Project 2</a></li>
              <li><a href="#">Personal Project 3</a></li>
              <li><a href="#">Personal Project 4</a></li>
              <li><a href="#">Personal Project 5</a></li>
              <li><a href="#">Personal Project 1</a></li>
              <li><a href="#">Personal Project 2</a></li>
              <li><a href="#">Personal Project 3</a></li>
              <li><a href="#">Personal Project 4</a></li>
              <li><a href="#">Personal Project 5</a></li>
              <li><a href="#">Personal Project 1</a></li>
              <li><a href="#">Personal Project 2</a></li>
              <li><a href="#">Personal Project 3</a></li>
              <li><a href="#">Personal Project 4</a></li>
              <li><a href="#">Personal Project 5</a></li>
            </ul>
          </div>
          <div class="box" id="box4">
            <h4> Scrum Project </h4>Count:10
            <ul>
              <li><a href="#">Scrum Project 1</a></li>
              <li><a href="#">Scrum Project 2</a></li>
              <li><a href="#">Scrum Project 3</a></li>
              <li><a href="#">Scrum Project 4</a></li>
              <li><a href="#">Scrum Project 5</a></li>
              <li><a href="#">Scrum Project 1</a></li>
              <li><a href="#">Scrum Project 2</a></li>
              <li><a href="#">Scrum Project 3</a></li>
              <li><a href="#">Scrum Project 4</a></li>
              <li><a href="#">Scrum Project 5</a></li>
              <li><a href="#">Scrum Project 1</a></li>
              <li><a href="#">Scrum Project 2</a></li>
              <li><a href="#">Scrum Project 3</a></li>
              <li><a href="#">Scrum Project 4</a></li>
              <li><a href="#">Scrum Project 5</a></li>
            </ul>
          </div>
        </div>
        <div class = "rect" id = "rect1">
          <h4><b>My Todos</b></h4>
          <div class="filter_div">
            <div id = "due_date">
              <b>Due Date</b>
                <input type="text" id ="datefields1" class="start-date form-control-sm" placeholder="Start Date" >
                <input type="text"  id ="datefields2" class="end-date form-control-sm" placeholder="End Date">
              
            </div>
            <div id = "ref_type" class="form-group">
              <b>Reference Type</b>
              <select id="select-field" v-model="selectedOption" class="form-control-sm">
                
                <option v-for="option in doctype_options" :value="option.value">[% option.label %]</option>
              </select>
            </div>
            <div id = "assigned_by">
              <b>Assigned By</b> 
              <select id="select-field" v-model="assignedOption" class="form-control-sm">
                <option v-for="one in user_options" :value="one.value">[% one.label %]</option>
              </select>
            </div>
            <div id = "priority">
              <b>Priority</b> 
              <select id="select-field" v-model="priorityOption" class="form-control-sm">
                <option v-for="each in priority_list" :value="each.value">[% each.label %]</option>
              </select>
            </div>   
          </div>
          <ul>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
            <li><a href="#">Task 1</a></li>
          </ul>

      </div>
      <div class = "rect" id="rect2">
        <h4><b>Assigned Todos</b></h4>
        <div class="filter_div">
          <div id = "due_date">
            <b>Due Date</b>
              <input type="text" id ="datefields1" class="start-date form-control-sm" placeholder="Start Date" >
              <input type="text"  id ="datefields2" class="end-date form-control-sm" placeholder="End Date">
            
          </div>
          <div id = "ref_type" class="form-group">
            <b>Reference Type</b>
            <select id="select-field" v-model="selectedOption2" class="form-control-sm">
              
              <option v-for="option in doctype_options" :value="option.value">[% option.label %]</option>
            </select>
          </div>
          <div id = "assigned_by">
            <b>Assigned By</b> 
            <select id="select-field" v-model="assignedOption2" class="form-control-sm">
              <option v-for="one in user_options" :value="one.value">[% one.label %]</option>
            </select>
          </div>
          <div id = "priority">
            <b>Priority</b> 
            <select id="select-field" v-model="priorityOption2" class="form-control-sm">
              <option v-for="each in priority_list" :value="each.value">[% each.label %]</option>
            </select>
          </div>   
        </div>
        <ul>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
          <li><a href="#">Task 1</a></li>
            
        </ul>
      </div>
      </div>
    </div>
  </div>

