/* body {background-color: #F3F5F7 !important;font-family: Roboto,sans-serif;} */
/* .layoutSidenav_content{overflow:hidden !important} */
.intro-header {
  background: url("../Content/img/loginbg.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #19386f;
}
.bg-overlay {
  background: rgba(0, 13, 36, 0);
  height: 100vh;
}
a {
  cursor: pointer;
}
/* .form-control {font-size: 16px;color: #596f88;border: 1px solid #DFE3E7;font-size: 16px !important;height: 38px !important;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;    } */
label {
  font-weight: 500;
}
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.footerdiv {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.form-group > input,
.form-group > textarea,
.form-group > select {
  padding: 5px 10px;
  height: auto;
  border-radius: 4px !important;
  box-shadow: none !important;
  border: 1px solid #dfe3e7;
}
.loginpadding {
  padding-top: 11%;
}
input {
  color: #596f88 !important;
}
.dropdownfont {
  background: #fff !important;
  border-radius: 50%;
  padding: 5.99px 6px;
  font-size: 14px;
}
.customizedropdown button {
  color: #fff;
  font-weight: 500;
  height: 38px;
  line-height: 1;
  padding: 5px 28px 5px 0px !important;
}
.downarrowicon {
  padding: 5px 28px 5px 0px !important;
  font-size: 16px !important;
  background: #19253d url(../../Content/img/downwhite.svg) 99% !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: 20px 15px !important;
  -moz-background-size: 20px 15px !important;
  -o-background-size: 20px 15px !important;
  background-size: 20px 15px !important;
  outline-offset: 0px !important;
  transition: none !important;
  -webkit-appearance: none !important;
}
.customizedropdown .dropdown-toggle::after {
  display: none !important;
}
.useravtar {
  color: #ffffff !important;
  background-color: transparent;
  border-radius: 100%;
  height: 26px;
  width: 26px;
}
.customizedropdown .dropdown-menu {
  min-width: 100% !important;
}
.dropdownbtnborder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.customizedropdown button:hover,
.customizedropdown button:focus {
  color: #fff !important;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.customizedropdown .dropdown-menu .dropdown-item.active,
.dropdown-item:active {
  color: #000 !important;
  text-decoration: none;
  background-color: #eeeeee;
}
.adminpadding {
  padding-top: 84px;
}
.cursorpointer {
  cursor: pointer;
}
.simple-pagination {
  padding: 0 5px 0 0 !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2c77ff;
  outline: 0;
  box-shadow: none;
}
.responiconfa {
  height: 20px !important;
  width: 19px !important;
}
.assendingicon {
  padding: 12px 30px 12px 12px !important;
  font-size: 16px !important;
  color: #fff !important;
  background: #19253d url(../../Content/img/sortingdownarrow.svg) 94% !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: 20px 15px !important;
  -moz-background-size: 20px 15px !important;
  -o-background-size: 20px 15px !important;
  background-size: 20px 15px !important;
  outline-offset: 0px !important;
  transition: none !important;
  -webkit-appearance: none;
}
.assendingicon.uparrow {
  padding: 12px 30px 12px 12px !important;
  font-size: 16px !important;
  color: #fff !important;
  background: #19253d url(../../Content/img/sortinguparrow.svg) 93% !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: 20px 15px !important;
  -moz-background-size: 20px 15px !important;
  -o-background-size: 20px 15px !important;
  background-size: 20px 15px !important;
  outline-offset: 0px !important;
  transition: none !important;
  -webkit-appearance: none;
}
.btngreen {
  background: #f53c56;
  padding: 4px 0;
  width: 130px;
  font-size: 15px;
  color: #fff !important;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}
.useravtar {
  color: #ffffff !important;
  background-color: transparent;
  border-radius: 100%;
  height: 28px;
  width: 28px;
}
.useravtardrp {
  color: #ffffff !important;
  background-color: transparent;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}
.btnpink {
  background: #00a759;
  padding: 4px 0;
  width: 130px !important;
  font-size: 15px;
  color: #fff !important;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}
.borderradius4 {
  border-radius: 4px;
}
.filterbtn {
  padding: 1px 8px;
  background: #2680eb;
  border-radius: 4px;
  color: #fff !important;
}
.modalbtn {
  padding: 8px 10px !important;
  width: 90px !important;
  border-radius: 4px;
  text-decoration: none !important;
}
.darkthemebg {
  background: #2c77ff !important;
  color: #fff !important;
}
.greythemebg {
  background: #f8f9fa !important;
  color: #212529 !important;
  border: 1px solid #dee2e6;
}
.modalfooterborder {
  border-top: 1px solid #efefef !important;
}
.dashboardicon {
  height: 18px;
  width: 16px;
}
.dashboardspan {
  line-height: 1;
  padding-left: 12px;
}
a:focus,
a:hover {
  color: #2c77ff;
  outline: 0;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 19px;
  margin-bottom: 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
ul {
  list-style: none;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.linkcolor {
  color: #2680eb !important;
}
.userprofile {
  color: #ffffff !important;
  background-color: transparent;
  border-radius: 100%;
  height: 33px;
  width: 33px;
}
.resdropdown .userfont a {
  font-size: 20px;
}
.resdropdown .dropdown-toggle::after {
  font-size: 17px;
  margin-left: 10px !important;
}
.readmoreclass {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
  display: inline-block;
}
.collapsecolor.collapsed {
  color: #7b8498;
  font-weight: 500;
}
.checkboxcontainer {
  display: block;
  align-items: center;
  position: relative;
  padding-left: 0;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #757575;
  border-radius: 2px;
}
.checkboxcontainer:hover input ~ .checkmark {
  background-color: #fff;
}
.checkboxcontainer input:checked ~ .checkmark {
  background-color: #2c77ff;
  border-radius: 2px;
  border: 1px solid #007bff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkboxcontainer .checkmark:after {
  left: 3px;
  top: 0px;
  width: 7px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
}
#userDropdown + .dropdown-menu {
  margin-top: 0;
  right: -27px !important;
  top: 64px;
  left: auto !important;
  border-radius: 8px;
  background: #2c77ff;
  -moz-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1607843137254902);
  -webkit-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1607843137254902);
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1607843137254902);
}
/*css for tab start*/
.rostercustomtab.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  border-left: 5px solid #fff !important;
  padding: 9px 0;
  border-top: 0;
  border-radius: 0;
  margin-bottom: 0 !important;
  font-size: 16px;
  border-right: 0 !important;
}
.font12 {
  font-size: 12px;
}
.close.modalclose {
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 0;
  margin-right: -6px !important;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  vertical-align: middle;
}
.checkboxcontainer.simplecheckbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  margin-bottom: 0;
  cursor: pointer; /* font-size: 16px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customfontweight {
  font-weight: 500;
  line-height: 1.1;
}
.rostercustomstafftab > li {
  width: auto !important;
}
.lightmodalbg {
  background: #efefef !important;
}
.modaltextcolor {
  color: #e46a76;
}
.rostercustomtab.nav-tabs.nav-justified > .active > a,
.rostercustomtab.nav-tabs.nav-justified > li > a:hover,
.rostercustomtab.nav-tabs.nav-justified > .active > a:focus,
.rostercustomtab.nav-tabs.nav-justified > .active > a:hover {
  border-left: 5px solid #0552de !important;
  border-right: 0;
  border-top: 0;
  color: #fff;
  font-size: 16px;
  background: #2c77ff !important;
  border-bottom: none !important;
}
.rostercustomstafftab {
  border: 1px solid #007bff !important;
  border-radius: 4px !important;
}
.rostercustomstafftab.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  border-left: none !important;
  padding: 7px 22px;
  border-top: 0;
  border-radius: 0;
  margin-bottom: 0 !important;
  font-size: 16px;
  border-right: 0 !important;
}
.rostercustomstafftab.nav-tabs.nav-justified > .active > a,
.rostercustomstafftab.nav-tabs.nav-justified > li > a:hover,
.rostercustomstafftab.nav-tabs.nav-justified > .active > a:focus,
.rostercustomstafftab.nav-tabs.nav-justified > .active > a:hover {
  border-left: none !important;
  border-right: 0;
  border-top: 0;
  color: #fff;
  font-size: 16px;
  background: #007bff !important;
  border-bottom: none !important;
}
.serach-textbox,
.select2-search__field {
  padding: 5px 5px 5px 30px !important;
  color: #010101;
  font-size: 16px !important;
  font-weight: 500;
  background-image: url(../images/searchicon.svg) !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: 17px 19px !important;
  -moz-background-size: 17px 19px !important;
  -o-background-size: 17px 19px !important;
  background-size: 17px 19px !important;
  background-position: 8px 8px !important;
  height: 38px !important;
  background-color: #ffffff;
  border: 1px solid #dfe3e7 !important;
  outline-offset: 0px !important;
  box-shadow: none; /* margin-top: 9px !important; */
}
.serach-textbox:focus,
select2-search__field:focus {
  padding: 5px 5px 5px 30px !important;
  color: #010101;
  font-size: 16px !important;
  border: none;
  font-weight: 500;
  background-image: url(../images/searchicon.svg) !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: 17px 19px !important;
  -moz-background-size: 17px 19px !important;
  -o-background-size: 17px 19px !important;
  background-size: 17px 19px !important;
  background-position: 8px 8px !important;
  height: 38px !important;
  background-color: #ffffff;
  border: 1px solid #dfe3e7 !important;
  outline-offset: 0px !important;
  box-shadow: none; /* margin-top: 9px !important; */
}
.lightbluedtbg {
  background: #e7edfb;
}
.text-decoration-none {
  text-decoration: none !important;
}
.customredropdown {
  padding: 0 !important;
}
.customredropdown .dropdown-item {
  padding: 5px 10px !important;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer !important;
}
.btncolor {
  background-color: #1e90ff !important;
  color: #fff !important;
}
.customredropdown .dropdown-item:hover,
.customredropdown .dropdown-item:focus {
  background-color: #1e90ff !important;
  color: #fff !important;
}
.font14 {
  font-size: 16px;
}
.lightbluecolor {
  color: #007bff;
  font-size: 16px;
}
.fitertext {
  color: #002171;
}
.borderradius4 {
  border-radius: 4px;
}
.customdrodownicon {
  color: #63799b !important;
  font-size: 16px !important;
}
.dropdowncustomres {
  max-width: 80px;
  padding-right: 0px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.customdropdownheight {
  max-height: 200px;
  overflow-y: auto;
}
.customdrodownicon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078" !important;
  border: none;
  padding-left: 5px !important;
  color: #63799b;
  vertical-align: middle !important;
  margin: 0 !important;
  vertical-align: middle;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}
.btn-group.open .customdrodownicon.dropdown-toggle {
  box-shadow: none !important;
  text-decoration: none;
}
.card.customcard {
  position: absolute;
  margin-bottom: 30px;
  width: 500px;
  box-shadow: 0px 2px 2px #00000066;
  border: 1px solid #e6e6e6;
}
.card.customstaffcard {
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
}
.checkmark.rightcheckbox {
  right: 0 !important;
  left: auto !important;
}
.customwidthcard {
  width: 60px !important;
  display: inline-block;
}
.bordertopcustom {
  border-top: 1px solid #e6e6e6;
}
.bordertopdotted {
  border-top: 1px dashed #e6e6e6;
}
.media-body {
  width: auto !important;
}
.grand-parent {
  position: relative;
}
.img_block_responsive {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  border: 1px solid #ebf2f9;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  background: #ebf2f9;
}
.customiconhover {
  padding: 4px 6px;
  background: none;
  border-radius: 4px;
}
.responiconfawdit {
  height: 16px;
  width: 16px !important;
  vertical-align: text-bottom;
}
.iconfont {
  padding: 8px 0 !important;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  width: 38px !important;
  height: 38px !important;
  display: inline-block;
  background: #fff !important;
  border: 1px solid #ebf2f9;
  box-shadow: -1px 0px 4px -1px #00000066;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: #fff !important;
  color: #596f88 !important;
  box-shadow: none;
  border: 1px solid #dfe3e7;
}
.inputgroupcalendar {
  border: 1px solid #dfe3e7;
  background-color: #f8f9fa !important;
}
.inputgroupcalendar {
  width: 38px !important;
  padding: 9px 12px !important;
  font-size: 16px;
}
.show-read-more {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}
.customiconhover:hover {
  padding: 4px 6px;
  background: #d2ddf6;
  border-radius: 4px;
}
.fa-phone-alt:before {
  content: "\f879";
}
.alert.alert-success .notifycolor {
  color: #00d64f !important;
  font-size: 30px;
}
.alert.alert-success {
  background: #00af41 !important;
  color: #fff !important;
  width: 150px;
  border: 0;
  padding: 10px 10px 30px 10px !important;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #00000029;
}
.alertmessage {
  white-space: normal !important;
  font-size: 16px;
  color: #fff !important;
  padding-top: 12px;
}
.alert.alert-success button.close {
  box-shadow: 0 !important;
  top: 0px;
  right: 20px !important;
  color: #fff !important;
  opacity: 1 !important;
}
span[data-notify="title"] {
  display: block !important;
  font-size: 18px;
  padding-top: 20px;
}
.select2 {
  width: 100% !important;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb !important;
  color: white !important;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #5897fb !important;
  color: #fff !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
}
.custompageselecttype
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #fff;
  line-height: 38px;
  outline: 0 !important;
  border-radius: 4px;
  padding: 0.5rem 30px 0.5rem 0.75rem;
  font-size: 16px !important;
  background: #fff url(../images/downarrow.svg) 96% !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: 15px 15px !important;
  -moz-background-size: 15px 15p !important;
  -o-background-size: 15px 15px !important;
  background-size: 17px 10px !important;
  outline-offset: 0px !important;
  transition: none !important;
  border: 1px solid #dfe3e7 !important;
  box-shadow: none;
}
.customselecttype .select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 45px;
  user-select: none;
  -webkit-user-select: none;
}
.customselecttype
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  display: block;
  padding: 0.375rem 30px 0.375rem 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custompageselecttype
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #596f88;
  font-size: 16px;
  border-radius: 4px;
  line-height: 26px;
  border: 1px solid #dfe3e7;
}
.custompageselecttype .select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 38px;
  user-select: none;
  -webkit-user-select: none;
  border: none !important;
}
.custompageselecttype
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  display: block;
  padding: 0.5rem 30px 0.5rem 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-control {
  color: #596f88 !important;
}
.media-body,
.media-left,
.media-right {
  display: block;
}
.serach-textbox::-webkit-input-placeholder {
  /* Edge */
  color: #ced4da !important;
}
.panel-group .panel + .panel {
  margin-top: 20px;
}
.customheightbtn {
  font-size: 16px;
  border: 1px solid #2c77ff !important;
  width: 60px;
  height: 38px;
  text-align: center;
  padding: 8px 0;
  display: inline-block;
  color: #2680eb !important;
}
.primarybtn {
  font-size: 16px;
  border: 1px solid #2c77ff !important;
  color: #fff !important;
  background: #2680eb;
  height: 38px;
  text-align: center;
  padding: 8px 14px;
  display: inline-block;
}
.avtarbg {
  background: #1697c8 !important;
}
.serach-textbox:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ced4da !important;
}
.custommobheight {
  height: 50px !important;
}
.serach-textbox::placeholder {
  color: #ced4da !important;
}
.dropdown-menu-right.customselect {
  right: -6px !important;
}
.navbar-nav .open .dropdown-menu {
  position: absolute !important;
}
.btn.customtoggledrp {
  font-size: 20px !important;
  padding: 0 10px;
  outline: 0 !important;
  border: 1px solid #dfe3e7 !important;
}
.btn.customtoggledrp:focus {
  font-size: 20px !important;
  padding: 0 10px;
  outline: 0 !important;
  border: 1px solid #dfe3e7 !important;
}
.customtoggledrp::after {
  display: none !important;
}
.dropdown-backdrop {
  display: none;
}
.customdropdownmob {
  margin: 0 !important;
}
.residenavli.active .icon path,
.residenavli.active .icon rect {
  fill: #ffffff !important;
}
.residenavli:hover .icon path,
.residenavli:hover .icon rect {
  fill: #ffffff !important;
}
.residenavli:focus .icon path,
.residenavli:focus .icon rect {
  fill: #ffffff !important;
}
.customizepanel {
  border: 1px solid #dfe3e7;
  background: #fff !important;
}
.customizepanel.active {
  border: 1px solid #007bff;
  background: #fff !important;
}
.lineheight {
  line-height: 1.2;
}
.customizepanel > .panel-heading {
  padding: 20px 20px 20px 20px !important;
}
.font-medium {
  font-weight: 500 !important;
}
.tableshowclass.show {
  display: table-row !important;
}
.toggleicon[aria-expanded="true"] i:before {
  content: "\f077";
}
.nav.rostercustomtab > li > a:focus {
  background-color: #fff !important;
}
.toggleicon[aria-expanded="false"] i:before {
  content: "\f078";
}
.fontawesomeicon {
  text-align: center;
  border: 1px solid #63799b;
  border-radius: 50%;
  padding: 10px 11px;
  font-size: 16px;
}
.togglescreenbtnimg {
  width: 22px;
  height: 19px;
}
.modal-header {
  font-weight: 500 !important;
}
.responiconfont {
  height: 16px;
  width: 16px;
}
.customappenddiv {
  position: relative;
}
.datepicker table {
  width: 100%;
}
.datepicker.dropdown-menu {
  padding: 10px !important;
}
.custommobmodal .modal-dialog {
  min-height: 800px;
  overflow-y: auto;
}
.responiconfont {
  height: 14px;
  width: 14px;
}
.rostercustomstafftab.customrosteringtab {
  overflow: hidden;
  border: 1px solid #63799b !important;
  border-radius: 4px !important;
}
.rostercustomstafftab.customrosteringtab.nav-tabs.nav-justified > .active > a,
.rostercustomstafftab.customrosteringtab.nav-tabs.nav-justified > li > a:hover,
.rostercustomstafftab.customrosteringtab.nav-tabs.nav-justified
  > .active
  > a:focus,
.rostercustomstafftab.customrosteringtab.nav-tabs.nav-justified
  > .active
  > a:hover {
  border-left: none !important;
  border-right: 0;
  border-top: 0;
  color: #fff;
  font-size: 16px;
  background: #63799b !important;
  border-bottom: none !important;
}
.rostercustomstafftab.customrosteringtab.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  color: #63799b;
  border-left: none !important;
  padding: 6.5px 5.5px;
  border-top: 0;
  border-radius: 0;
  margin-bottom: 0 !important;
  font-size: 16px !important;
  border-right: 0 !important;
}
.dateblock {
  padding-bottom: 30px;
  border-bottom: 2px solid #e9ecef;
}
.legendboxview {
  height: 30px;
  min-width: 30px;
  border-radius: 4px;
}
.greenboxcolor {
  background: #6cb233;
}
.purplebox {
  background: #7030a0;
}
.yellowboxcolor {
  background: #ffc000;
}
.lightgreenboxcolor {
  background: #c1e8a2;
}
.redboxcolor {
  background: #ff0000;
}
.greyboxcolor {
  background: #7f7f7f;
}
.lightblueboxcolor {
  background: #63a8f8;
}
.orangeboxcolor {
  background: #ff9a36;
}
.blueboxcolor {
  background: #0070c0;
}
.lightgreenbox {
  background: #70ad47;
}
.darkblackox {
  background: #262626;
}
.borderbox {
  background: #ffffff;
  border: 3px solid #787878;
}
.darkbluefontcolor {
  color: #007bff !important;
}
#calenderviewtable > thead > tr > th.hightlightedtable {
  background: #2c77ff !important;
  color: #fff !important;
}

#calenderviewtable > thead > tr > th:first-child {
  font-weight: 600;
  white-space: nowrap !important;
  text-align: center;
  vertical-align: middle;
  border-left: 0 !important;
  border-bottom: 0 !important;
  max-width: 238px !important;
  min-width: 238px !important;
}
#calenderviewtable > thead > tr > th {
  font-weight: 400;
  white-space: normal !important;
  text-align: center;
  min-height: 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
  border-bottom: 0 !important;
  background: #f5f5f5 !important;
  padding: 25px 9px;
}
#calenderviewtable > tbody > tr > td:first-child {
  height: 50px;
  font-size: 16px;
  white-space: normal !important;
  text-align: center;
  max-width: 238px !important;
  min-width: 238px !important;
  border-bottom: 0 !important;
  text-align: left !important;
  padding: 0 !important;
}
#calenderviewtable > tbody > tr > td {
  font-size: 14px;
  vertical-align: middle;
  padding: 5px 5px;
  white-space: normal !important;
  text-align: center;
  max-width: 50px !important;
  min-width: 50px !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
#calenderviewtable > tbody > tr > td:last-child {
  padding: 8px 10px;
  white-space: normal !important;
  text-align: center;
  max-width: 65px !important;
  min-width: 65px !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
.subtable > tbody > tr > td:first-child {
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  padding: 10px;
  vertical-align: middle;
  max-width: 238px !important;
  min-width: 238px !important;
  border-left: 0 !important;
  text-align: left !important;
  background: #f5f5f5 !important;
}
.subtable > tbody > tr > td {
  font-size: 14px;
  padding: 5px 5px;
  height: 50px;
  max-width: 50px !important;
  min-width: 50px !important;
  border-top: 0 !important;
}
.subtable > tbody > tr > td:last-child {
  padding: 10px 10px;
  vertical-align: middle;
  height: 50px;
  max-width: 65px !important;
  min-width: 65px !important;
  border-left: 0 !important;
  text-align: center !important;
  color: #ff0000 !important;
}
#calenderviewtable > thead > tr > th:last-child {
  vertical-align: middle;
  white-space: normal !important;
  color: #ffffff;
  text-align: center;
  min-height: 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
  border-bottom: 0 !important;
  background: #f56767 !important;
  padding: 25px 8px;
}
.tablebox {
  height: 40px;
  border-radius: 4px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}
.responsivebluebtn {
  background: #2c77ff !important;
  border-radius: 4px;
  color: #fff !important;
  padding: 9px 20px !important;
  font-size: 16px;
  display: inline-block;
  margin: 5px 10px;
  line-height: 1.3;
}
.bluebox {
  background: #63a8f8;
  color: #fff;
}
.orangebox {
  background: #ff9a36;
  color: #010101;
}
.greybox {
  background: #bebebe;
  color: #010101;
}
.yellowbox {
  background: #fecd49;
  color: #010101;
}
.paddingdiv {
  padding: 15px 10px;
}
.borderleft {
  border-left: 1px solid #ddd;
}
#calenderweekviewtable > thead > tr > th.hightlightedtable {
  background: #2c77ff !important;
  color: #fff !important;
}
#calenderweekviewtable > thead > tr > th:first-child {
  font-weight: 600;
  white-space: nowrap !important;
  text-align: center;
  vertical-align: middle;
  border-left: 0 !important;
  border-bottom: 0 !important;
  max-width: 238px !important;
  min-width: 238px !important;
}
#calenderweekviewtable > thead > tr > th {
  font-weight: 400;
  white-space: nowrap !important;
  text-align: center;
  min-height: 50px !important;
  border-bottom: 0 !important;
  background: #f5f5f5 !important;
  padding: 25px 9px;
}
#calenderweekviewtable > tbody > tr > td:first-child {
  font-size: 16px !important;
  height: 50px;
  white-space: normal !important;
  text-align: center;
  max-width: 238px !important;
  min-width: 238px !important;
  border-bottom: 0 !important;
  text-align: left !important;
  padding: 0 !important;
}
#calenderweekviewtable > tbody > tr > td {
  font-size: 14px;
  vertical-align: middle;
  padding: 5px 5px;
  white-space: normal !important;
  text-align: center;
  max-width: 130px !important;
  min-width: 130px !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
#calenderweekviewtable > tbody > tr > td:last-child {
  padding: 8px 10px;
  white-space: normal !important;
  text-align: center;
  max-width: 65px !important;
  min-width: 65px !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
.subcalenderweektable > tbody > tr > td:first-child {
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  padding: 10px;
  vertical-align: middle;
  max-width: 238px !important;
  min-width: 238px !important;
  border-left: 0 !important;
  text-align: left !important;
  background: #f5f5f5 !important;
}
.subcalenderweektable > tbody > tr > td {
  font-size: 14px;
  padding: 5px 5px;
  height: 50px;
  max-width: 130px !important;
  min-width: 130px !important;
  border-top: 0 !important;
}
.subcalenderweektable > tbody > tr > td:last-child {
  padding: 10px 10px;
  vertical-align: middle;
  height: 50px;
  border-left: 0 !important;
  text-align: center !important;
  color: #ff0000 !important;
}
#calenderweekviewtable > thead > tr > th:last-child {
  vertical-align: middle;
  white-space: normal !important;
  color: #ffffff;
  text-align: center;
  min-height: 50px !important;
  max-width: 130px !important;
  min-width: 130px !important;
  border-bottom: 0 !important;
  background: #f56767 !important;
  padding: 25px 8px;
}
.tablebox {
  height: 40px;
  border-radius: 4px;
}
.responsivebluebtnright {
  background: #2c77ff !important;
  border-radius: 4px;
  color: #fff !important;
  padding: 10px !important;
  font-size: 16px;
  display: inline-block;
  margin: 5px 0 5px 20px;
  line-height: 1.3;
  height: 38px;
  width: 38px;
}
.customarrowtab {
  color: #63799b !important;
  width: 56px !important;
}
.hoverselectclass {
  cursor: pointer !important;
  vertical-align: middle;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  height: 40px !important;
  padding: 10px 5px !important;
}
.selectclass {
  background: #e7edfb;
  color: #010101 !important;
}
.customarrowtab:hover {
  color: #63799b !important;
  width: 56px !important;
}
.bordertableft {
  border-left: 1px solid #63799b;
}
.datepicker-inline {
  width: 100% !important;
}
.datepicker.datepicker-inline table tr td.today,
.datepicker.datepicker-inline table tr td.active:active,
.datepicker.datepicker-inline table tr td.active:hover:active,
.datepicker.datepicker-inline table tr td.active.disabled:active,
.datepicker.datepicker-inline table tr td.active.disabled:hover:active,
.datepicker.datepicker-inline table tr td.active.active,
.datepicker.datepicker-inline table tr td.active:hover.active,
.datepicker.datepicker-inline table tr td.active.disabled.active,
.datepicker.datepicker-inline table tr td.active.disabled:hover.active {
  background-color: #2c77ff !important;
  background: #2c77ff !important;
  color: #fff !important;
}

#calenderweekviewtable > thead > tr > th.hightlightedtable {
  background: #2c77ff !important;
  color: #fff !important;
}
.rostercustomstafftab.customrosteringtab.rosteringheadingtab.nav-tabs.nav-justified
  > li
  > a {
  width: 100px !important;
}
.responsivebluebtn.customizebluebtnres .customdrodownicon {
  color: #fff !important;
  line-height: 1;
}
.responsivebluebtn.customizebluebtnres .customdrodownicon .dropdowncustomres {
  white-space: nowrap;
  padding-right: 0px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.responsivebluebtn.customizebluebtnres .customdrodownicon::after {
  line-height: 1 !important;
  color: #fff !important;
}
.responsivebluebtn.customizebluebtnres .dropdown-menu-right.customselect {
  width: 100%;
  right: 0 !important;
}
.multiselectselect .serach-textbox,
.select2-search__field {
  padding: 5px !important;
  color: #010101;
  font-size: 16px !important;
  font-weight: 500;
  background-image: none !important;
  width: 100% !important;
  height: auto !important;
  background-color: #ffffff;
  border: none !important;
  outline-offset: 0px !important;
  box-shadow: none; /* margin-top: 9px !important; */
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #5897fb;
  border: 1px solid #5897fb;
  border-radius: 4px;
  color: #fff;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
  font-size: 14px !important;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
  font-size: 14px !important;
}
#calenderviewtable > thead > tr > th.greytablebg {
  background: #c7c7c7 !important;
}
#calenderweekviewtable > thead > tr > th.greytablebg {
  background: #c7c7c7 !important;
}
.lightgreycolorbox {
  background: #f2f4f8 !important;
}
.customprogressbar.ui-widget.ui-widget-content {
  border: 1px solid #2c77ff;
  border-radius: 50px;
}
.customprogressbar.ui-progressbar .ui-progressbar-value {
  margin: 0;
  height: 100%;
  background: #2c77ff;
  border: 1px solid #2c77ff;
}
.minheight120 {
  min-height: 120px;
}
.customiconbghover {
  background: #d2ddf6 !important;
  padding: 4px 6px;
  background: none;
  border-radius: 4px;
}
.pdfimg {
  height: 30px;
  width: 30px;
}
.datetimepicker td,
.datetimepicker th {
  text-align: center;
  width: 20px;
  font-size: 14px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}
.datetimepicker table tr td span {
  display: block;
  width: 23%; /* height: 54px; */
  font-size: 14px;
  font-family: roboto;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datetimepicker table {
  margin: 0;
  width: 100%;
}
.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot th:hover {
  background: #fff !important;
}
/*css for tab end*/
@media (min-width: 1920px) {
  .img_block_responsive {
    height: 100px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    background: #ececec;
  }
  .dropdowncustomres {
    max-width: 150px;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
  .hoverselectclass:hover {
    background: #e7edfb;
    color: #010101 !important;
    cursor: pointer !important;
    vertical-align: middle;
    border-radius: 4px;
    text-align: center;
    height: 40px !important;
    padding: 10px 5px !important;
  }
}
@media (min-width: 1700px) {
  .footerfont {
    font-size: 16px;
  }
  .minsectionheight {
    height: 100vh;
  }
  .textchangeadd {
    width: 134px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .footerfont {
    font-size: 13px;
  }
  .minsectionheight {
    height: 100vh;
  }
  .textchangeadd {
    width: 134px;
  }
  .hoverselectclass:hover {
    background: #e7edfb;
    color: #010101 !important;
    cursor: pointer !important;
    vertical-align: middle;
    border-radius: 4px;
    text-align: center;
    height: 40px !important;
    padding: 10px 5px !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .footerfont {
    font-size: 13px;
  }
  .minsectionheight {
    height: 100vh;
  }
  .card.customcard {
    position: absolute;
    margin-bottom: 30px;
    width: 400px;
    box-shadow: 0px 2px 2px #00000066;
    border: 1px solid #e6e6e6;
  }
  .fontawesomeicon {
    text-align: center;
    border: 1px solid #63799b;
    border-radius: 50%;
    padding: 7px 8px;
    font-size: 16px;
  }
  .customheightbtn {
    font-size: 16px;
    border: 1px solid #2c77ff !important;
    width: 60px;
    height: 32px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: #2680eb !important;
  }
  .iconfont {
    padding: 5px 0 !important;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    background: #fff !important;
    border: 1px solid #ebf2f9;
    box-shadow: -1px 0px 4px -1px #00000066;
  }
  .responiconfawdit {
    height: 15px;
    width: 15px !important;
    vertical-align: text-bottom;
  }
}
@media (device-width: 1280px) {
  .footerfont {
    font-size: 13px;
  }
  .minsectionheight {
    height: 100vh;
  }
  .adminpadding {
    padding-top: 80px;
  }
  .card.customcard {
    position: absolute;
    margin-bottom: 30px;
    width: 400px;
    box-shadow: 0px 2px 2px #00000066;
    border: 1px solid #e6e6e6;
  }
  .fontawesomeicon {
    text-align: center;
    border: 1px solid #63799b;
    border-radius: 50%;
    padding: 7px 8px;
    font-size: 16px;
  }
  .customheightbtn {
    font-size: 16px;
    border: 1px solid #2c77ff !important;
    width: 60px;
    height: 32px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: #2680eb !important;
  }
  .iconfont {
    padding: 5px 0 !important;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    background: #fff !important;
    border: 1px solid #ebf2f9;
    box-shadow: -1px 0px 4px -1px #00000066;
  }
  .responiconfawdit {
    height: 15px;
    width: 15px !important;
    vertical-align: text-bottom;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footerfont {
    font-size: 13px;
  }
  .minsectionheight {
    height: 100vh;
  }
  .customipaspad {
    padding: 0 6px !important;
  }
  .customiconhover {
    background: #d2ddf6 !important;
    padding: 6px 15px;
  }
  .customiconhover:hover {
    padding: 6px 15px;
  }
  .ipadpadd {
    padding-top: 15px;
  }
  .dropdown-menu-right.customselect {
    right: -15px !important;
  }
  .card.customcard {
    position: absolute;
    margin-bottom: 30px;
    width: 400px;
    box-shadow: 0px 2px 2px #00000066;
    border: 1px solid #e6e6e6;
  }
  .dropdowncustomres {
    max-width: 50px;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
  .heightipad {
    height: 28px;
  }
  .fontawesomeicon {
    text-align: center;
    border: 1px solid #63799b;
    border-radius: 50%;
    padding: 7px 8px;
    font-size: 16px;
  }
  .customheightbtn {
    font-size: 16px;
    border: 1px solid #2c77ff !important;
    width: 60px;
    height: 32px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: #2680eb !important;
  }
  .iconfont {
    padding: 5px 0 !important;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    background: #fff !important;
    border: 1px solid #ebf2f9;
    box-shadow: -1px 0px 4px -1px #00000066;
  }
  .responiconfawdit {
    height: 15px;
    width: 15px !important;
    vertical-align: text-bottom;
  }
  .textchangeadd {
    width: 134px;
  }
  .responsivebluebtn {
    background: #2c77ff !important;
    border-radius: 4px;
    color: #fff !important;
    padding: 10px 20px !important;
    font-size: 16px;
    display: inline-block;
    width: 30%;
    margin: 10px 20px 10px 0;
    line-height: 1.3;
  }
  .responsivebluebtn.customizebluebtnres .customdrodownicon .dropdowncustomres {
    max-width: 90%;
    min-width: 90%;
    white-space: nowrap;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
}
@media (device-width: 768px) {
  .footerfont {
    font-size: 13px;
  }
  .minsectionheight {
    height: 100vh;
  }
  .customiconhover {
    background: #d2ddf6 !important;
  }
  .ipadpadd {
    padding-top: 15px;
  }
  .dropdowncustomres {
    max-width: 60px;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
  .card.customcard {
    position: absolute;
    margin-bottom: 30px;
    width: 400px;
    box-shadow: 0px 2px 2px #00000066;
    border: 1px solid #e6e6e6;
  }
  .dropdowncustomres {
    max-width: 50px;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
  .heightipad {
    height: 28px;
  }
  .fontawesomeicon {
    text-align: center;
    border: 1px solid #63799b;
    border-radius: 50%;
    padding: 7px 8px;
    font-size: 16px;
  }
  .customheightbtn {
    font-size: 16px;
    border: 1px solid #2c77ff !important;
    width: 60px;
    height: 32px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: #2680eb !important;
  }
  .iconfont {
    padding: 5px 0 !important;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    background: #fff !important;
    border: 1px solid #ebf2f9;
    box-shadow: -1px 0px 4px -1px #00000066;
  }
  .responiconfawdit {
    height: 15px;
    width: 15px !important;
    vertical-align: text-bottom;
  }
  .responsivebluebtn {
    background: #2c77ff !important;
    border-radius: 4px;
    color: #fff !important;
    padding: 10px 20px !important;
    font-size: 16px;
    display: inline-block;
    width: 30%;
    margin: 10px 20px 10px 0;
    line-height: 1.3;
  }
  .responsivebluebtn.customizebluebtnres .customdrodownicon .dropdowncustomres {
    max-width: 90%;
    min-width: 90%;
    white-space: nowrap;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .footerfont {
    font-size: 12px;
  }
  .fixed-top {
    background: #19253d;
  }
  .footerdiv {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .landingbtn {
    padding: 10px 29px !important;
    border-radius: 0 !important;
    color: #fff;
    line-height: 1.3;
    outline: 0;
  }
  .bg-overlay {
    background: rgba(0, 13, 36, 0);
    height: 100vh;
    overflow-y: auto;
  }
  .mobpadres {
    padding-top: 22%;
  }
  .loginpadding {
    padding-top: 18%;
  }
  .intro-header {
    background: url(../Content/img/loginbg.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh !important;
  }
  .minsectionheight {
    height: 100%;
  }
  .adminpadding {
    padding-top: 16.5%;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .media {
    flex-direction: column;
  }
  .media-body {
    margin-top: 15px;
  }
  .img_block_responsive {
    height: 80px;
    width: 80px;
    margin: 0 !important;
    border-radius: 4px;
    border: 1px solid #e6e6e6; /* margin: 0; */
    overflow: hidden;
    display: inline-block;
    background: #ececec;
  }
  #sidenav-backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 0;
    display: none;
  }
  .sb-sidenav-toggled #sidenav-backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 999;
    display: block;
  }
  .btnpink {
    background: #00a759;
    padding: 4px 0;
    width: 110px !important;
    font-size: 15px;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
  }
  .btngreen {
    background: #f53c56;
    padding: 4px 0;
    width: 110px;
    font-size: 15px;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
  }
  .customplantable {
    display: inline-block;
    overflow-x: auto;
  }
  .respardatatable {
    display: inline-block;
    white-space: nowrap;
  }
  .custommobrescard {
    display: flex; /* align-items: center; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  #nav {
    background-color: transparent;
    position: absolute;
    left: -22%;
  }
  #menu,
  #menuclose {
    height: 40px;
    width: 45px;
    background-position: 0 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #menu {
    background-color: #7e88a3 !important;
  }
  #menuclose {
    background-color: #fff !important;
  }
  #menu:hover,
  #menuclose:hover {
    background-position: 50px 0;
    cursor: pointer;
  }
  #menuclose,
  #menuclose:hover {
    display: none;
  }
  .sidedrawer {
    position: absolute;
    top: 5px;
    right: -201px;
    bottom: 0;
    z-index: 1;
    background: #fff !important;
  }
  .sidebackground {
    background: #fff !important;
    width: 199px; /* margin-left: 25%; */
    display: inline-block;
  }
  .drawer-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.46);
    display: none;
  }
  .drawer-backdrop.show {
    opacity: 0.26;
    display: block;
    z-index: 99 !important;
  }
  .iconresponsiveerrow {
    margin: 0 auto;
    left: 32%;
    top: 25%;
    position: absolute;
    font-size: 20px;
    color: #33439e;
  }
  .iconresponsiveerrow.sidearrowres {
    left: 40% !important;
  }
  .sidedrawer-header {
    height: 40px !important;
    background: #fff !important;
    color: #33429d;
    font-weight: 500;
    text-align: center;
    padding: 7px 15px;
    font-size: 18px;
    vertical-align: middle;
  }
  .sidedrawer-tab {
    border-bottom: 0.7px solid #ccc !important;
    font-size: 17px;
    padding: 7px 15px;
    line-height: 26px !important;
  }
  .sidedrawer-tab:last-child {
    border-bottom: none !important;
  }
  .sidedrawer-tab:first-child {
    background: #fff !important;
  }
  .hideinmobiledevice {
    display: none !important;
  }
  .sidedrawer-tab:hover {
    background: #33439e !important;
    color: #fff !important;
  }
  .responsiveoverflowfilter {
    height: calc(100vh - 178px);
    overflow-y: auto;
  }
  .accordianclass[aria-expanded="true"] .accordianarrow i:before {
    content: "\f106" !important;
  }
  .accordianclass[aria-expanded="false"] .accordianarrow i:before {
    content: "\f107" !important;
  }
  .accordiandarr {
    font-size: 16px !important;
  }
  .backgrounmobile {
    background: #f6f7f9 !important;
  }
  .accordiancontent:first-child {
    padding-top: 0 !important;
  }
  .accordiancontent {
    margin-top: 6px !important;
  }
  .backgrounmobile {
    background: #f6f7f9 !important;
  }
  .backgrounddark {
    background: #d7ddeb !important;
  }
  .padd6 {
    padding: 8px 10px 5px 10px !important;
    min-height: 39px !important;
  }
  .modalopenmobile {
    top: auto !important;
    bottom: 0px !important;
    max-height: calc(100vh - 87px) !important;
    margin: 0 !important;
    overflow-y: auto !important;
  }
  .modalopenmobile.fade.show .modal-dialog {
    transform: translateY(0) !important;
    margin: 0 !important;
  }
  .modalopenmobile.fade .modal-dialog {
    transform: translateY(25%) !important;
    margin: 0 !important;
  }
  .margintopmobile {
    margin-top: 20px !important;
  }
  .filtercloseclick {
    background: #63799b !important;
    color: #fff;
    padding: 5.5px 10px;
  }
  .rostercustomstafftab > li {
    width: 100% !important;
  }
  .customiconhover {
    background: #d2ddf6 !important;
  }
  .fontawesomeicon {
    text-align: center;
    border: 1px solid #63799b;
    border-radius: 50%;
    padding: 7px;
    font-size: 16px;
    height: 32px;
    width: 32px;
  }
  .customheightbtn {
    font-size: 16px;
    border: 1px solid #2c77ff !important;
    width: 60px;
    height: 32px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: #2680eb !important;
  }
  .iconfont {
    padding: 5px 0 !important;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    background: #fff !important;
    border: 1px solid #ebf2f9;
    box-shadow: -1px 0px 4px -1px #00000066;
  }
  .responiconfawdit {
    height: 15px;
    width: 15px !important;
    vertical-align: text-bottom;
  }
  #userDropdown + .dropdown-menu {
    margin-top: 0;
    right: -25px !important;
    top: 60px;
    left: auto !important;
    border-radius: 8px;
    background: #2c77ff;
    -moz-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1607843137254902);
    -webkit-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1607843137254902);
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1607843137254902);
  }
  .customiconhover {
    padding: 8px 8px;
    background: none;
    border-radius: 4px;
  }
  .customiconhover:hover {
    padding: 8px 8px;
    background: none;
    border-radius: 4px;
  }
  .customizepanel > .panel-heading {
    padding: 20px !important;
  }
  .custommobmodal .modal-dialog {
    min-height: 800px;
    overflow-y: auto;
  }
  .mobborder {
    border-top: 1px solid #e8f3ff !important;
  }
  .responsivebluebtn {
    background: #2c77ff !important;
    border-radius: 4px;
    color: #fff !important;
    padding: 10px 20px !important;
    font-size: 16px;
    display: block;
    margin: 10px 0;
    line-height: 1.3;
  }
  .dateblock {
    padding-bottom: 10px;
    border-bottom: 2px solid #e9ecef;
  }
  /*.custommobmodal .modal-dialog {
        position: absolute;
        width:100%;
        left:0;
        bottom: 0;
        margin: 0 auto;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    }
    
    .custommobmodal.modal.in .modal-dialog {       
        -webkit-transform: none;
        transform: none;
    }
    .custommobmodal.modal:not(.in) .modal-dialog {
        -webkit-transform: translate3d(0,25%,0);
        transform: translate3d(0,25%,0);
    }*/
  .card-header.customheadermobpadd {
    padding: 15px !important;
  }
  .customarrowtab {
    color: #63799b !important;
    width: 40px !important;
  }
  .customarrowtab:hover {
    color: #63799b !important;
    width: 40px !important;
  }
  .responsivebluebtn.customizebluebtnres .customdrodownicon .dropdowncustomres {
    max-width: 90%;
    min-width: 90%;
    white-space: nowrap;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
}
@media (max-width: 480px) {
  .footerfont {
    font-size: 12px;
  }
  .fixed-top {
    background: #19253d;
  }
  .footerdiv {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .landingbtn {
    padding: 10px 25px !important;
    border-radius: 0 !important;
    color: #fff;
    line-height: 1.3;
    outline: 0;
  }
  .bg-overlay {
    background: rgba(0, 13, 36, 0);
    height: 100vh;
    overflow-y: auto;
  }
  .mobpadres {
    padding-top: 22%;
  }
  .loginpadding {
    padding-top: 18%;
  }
  .intro-header {
    background: url(../Content/img/loginbg.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh !important;
  }
  .minsectionheight {
    height: 100%;
  }
  .adminpadding {
    padding-top: 14.9%;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .media {
    flex-direction: column;
  }
  .media-body {
    margin-top: 15px;
  }
  .img_block_responsive {
    height: 80px;
    width: 80px;
    margin: 0 !important;
    border-radius: 4px;
    border: 1px solid #e6e6e6; /* margin: 0; */
    overflow: hidden;
    display: inline-block;
    background: #ececec;
  }
  #sidenav-backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 0;
    display: none;
  }
  .sb-sidenav-toggled #sidenav-backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 999;
    display: block;
  }
  .btnpink {
    background: #00a759;
    padding: 4px 0;
    width: 110px !important;
    font-size: 15px;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
  }
  .btngreen {
    background: #f53c56;
    padding: 4px 0;
    width: 110px;
    font-size: 15px;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
  }
  .customplantable {
    display: inline-block;
    overflow-x: auto;
  }
  .respardatatable {
    display: inline-block;
    white-space: nowrap;
  }
  .customiconhover {
    background: #d2ddf6 !important;
  }
  .dropdowncustomres {
    max-width: 120px;
    padding-right: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
  .fontawesomeicon {
    text-align: center;
    border: 1px solid #63799b;
    border-radius: 50%;
    padding: 7px;
    font-size: 16px;
    height: 32px;
    width: 32px;
  }
  .customheightbtn {
    font-size: 16px;
    border: 1px solid #2c77ff !important;
    width: 60px;
    height: 32px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: #2680eb !important;
  }
  .iconfont {
    padding: 5px 0 !important;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    background: #fff !important;
    border: 1px solid #ebf2f9;
    box-shadow: -1px 0px 4px -1px #00000066;
  }
  .responiconfawdit {
    height: 15px;
    width: 15px !important;
    vertical-align: text-bottom;
  }
}
@media (max-width: 320px) {
  .footerfont {
    font-size: 12px !important;
  }
  .font50 {
    font-size: 20px !important;
  }
  .font43 {
    font-size: calc(43px - 25px) !important;
  }
  .font34 {
    font-size: calc(34px - 17px) !important;
  }
  .fixed-top {
    background: #19253d !important;
  }
  .landingbtn {
    padding: 10px 20px !important;
    border-radius: 0 !important;
    color: #fff;
    line-height: 1.3;
    outline: 0;
  }
  .footerdiv {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .bg-overlay {
    background: rgba(0, 13, 36, 0);
    height: 100vh;
    overflow-y: auto;
  }
  .mobpadres {
    padding-top: 22%;
  }
  .loginpadding {
    padding-top: 18%;
  }
  .intro-header {
    background: url(../Content/img/loginbg.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh !important;
  }
  .minsectionheight {
    height: 100%;
  }
  .adminpadding {
    padding-top: 16.5%;
  }
  .navbar-brand {
    margin-right: 0;
  }
  #sidenav-backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 0;
    display: none;
  }
  .sb-sidenav-toggled #sidenav-backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 999;
    display: block;
  }
  .media {
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  .media-body {
    margin-top: 15px;
  }
  .img_block_responsive {
    height: 80px;
    width: 80px;
    margin: 0 !important;
    border-radius: 4px;
    border: 1px solid #e6e6e6; /* margin: 0; */
    overflow: hidden;
    display: inline-block;
    background: #ececec;
  }
  .btnpink {
    background: #00a759;
    padding: 4px 0;
    width: 100px !important;
    font-size: 15px;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
  }
  .btngreen {
    background: #f53c56;
    padding: 4px 0;
    width: 100px;
    font-size: 15px;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
  }
  .customplantable {
    display: inline-block;
    overflow-x: auto;
  }
  .respardatatable {
    display: inline-block;
    white-space: nowrap;
  }
  .fontawesomeicon {
    text-align: center;
    border: 1px solid #63799b;
    border-radius: 50%;
    padding: 7px;
    font-size: 16px;
    height: 32px;
    width: 32px;
  }
  .customheightbtn {
    font-size: 16px;
    border: 1px solid #2c77ff !important;
    width: 60px;
    height: 32px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    color: #2680eb !important;
  }
  .iconfont {
    padding: 5px 0 !important;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    background: #fff !important;
    border: 1px solid #ebf2f9;
    box-shadow: -1px 0px 4px -1px #00000066;
  }
  .responiconfawdit {
    height: 15px;
    width: 15px !important;
    vertical-align: text-bottom;
  }
}

.forbidden {
  cursor: not-allowed;
}
