/*--------------------------------------------------*/
/*---------------------SPINNER----------------------*/
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.952);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: #a4a7aa;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
/*--------------------------------------------------*/
/*--------------------------------------------------*/
.button1 {
  border-radius: 0px;
  background-color: #1a1a1a;
  color: white;
}
.button1:hover {
  border-radius: 0px;
  background-color: #a3a7aa;
  color: white;
}
/*---------------------------------------------------*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  /* font-size: 18px; */
}

.button1 {
  border: none;
  outline: 0;
  display: block;
  margin: 10px auto;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  /* width: 100%; */
  font-size: 18px;
}

/* a {
  text-decoration: none;
  /* font-size: 22px; */
  color: black;
} */

button:hover,
a:hover {
  opacity: 0.7;
}
