<div class="spinner" id="spinner" style="display:block;position: fixed; top: 50%; left: 50%;"></div>
<div id="OKR-APP">
    <div class="container-fluid" id="app-container" style="display:none;">
    <div class="row">
        <div class="col-md-9 scroll-box" style="height:1000px;">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card border-dark mb-3">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                    <tbody>
                                        <tr class="table-primary">
                                            <td>The Goal: </td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>Company Objective:
																							<input type="text" :value="company_objective">
																						</td>
                                        </tr>
                                        <tr class="table-warning">
                                            <td>Company Objective Quarter:
																							<input type="text" :value="company_objective_quarter">
																						</td>
                                        </tr>
                                        <tr class="table-danger">
                                            <td>My Objective:
																							<input type="text" :value="my_objective">
																						</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card border-dark mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 card border-dark mx-auto scroll-box" id="box1">
                                                <div class="widget-head">
                                                    <div class="widget-label">
                                                      <div class="widget-title"><span class="ellipsis" title="Routine Tasks">Routine Tasks (Count)</span></div>

                                                      <div class="widget-subtitle"></div>
                                                    </div>
                                                  </div>
                                                <ul>
                                                    <li><a href="#">Routine Task 1</a></li>

                                                    <li><a href="#">Routine Task 2</a></li>
                                                    <li><a href="#">Routine Task 3</a></li>
                                                    <li><a href="#">Routine Task 4</a></li>
                                                    <li><a href="#">Routine Task 5</a></li>
                                                    <li><a href="#">Routine Task 1</a></li>
                                                    <li><a href="#">Routine Task 2</a></li>
                                                    <li><a href="#">Routine Task 3</a></li>
                                                    <li><a href="#">Routine Task 4</a></li>
                                                    <li><a href="#">Routine Task 5</a></li>
                                                </ul>
                                        </div>
                                        <div class="col-md-3 card border-dark scroll-box" id="box2">

                                            <div class="widget-head">
                                                <div class="widget-label">
                                                  <div class="widget-title"><span class="ellipsis" title="Active Repetitive">Active Repetitive</span></div>
                                                  <div class="widget-subtitle"></div>
                                                </div>
                                              </div>
																							<ul>
	                                                <li v-for="project in active_repetitive_projects"><a href="#" @click.prevent="showTodo(1, project.todo)">[% project.project %]</a></li>
	                                            </ul>
                                        </div>
                                        <div class="col-md-3 card border-dark scroll-box" id="box3">

                                            <div class="widget-head">
                                                <div class="widget-label">
                                                  <!-- <div class="widget-title"><span class="ellipsis" title="Personal Project">Personal Project</span></div> -->
                                                  <div class="section-head">
                                                    Personal Projects
                                                    <span class="ml-2 collapse-indicator mb-1" style="display: none;"></span>
                                                </div>
                                                  <div class="widget-subtitle"></div>
                                                </div>
                                              </div>
                                            <ul>
                                                <li v-for="project in personal_projects"><a href="#" @click.prevent="showTodo(1, project.todo)">[% project.project %]</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 card border-dark scroll-box" id="box4">

                                            <div class="widget-head">
                                                <div class="widget-label">
                                                  <div class="widget-title"><span class="ellipsis" title="Scrum Project">Scrum Project</span></div>
                                                  <div class="widget-subtitle"></div>
                                                </div>
                                              </div>
                                            <ul>
                                                <li v-for="project in scrum_projects"><a href="#" @click.prevent="showTodo(1, project.todo)">[% project.project %]</a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card border-dark mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 mx-auto scroll-box" id="box1">
                                            <h4>My Todo</h4>
                                              <form class="needs-validation" novalidate>
                                                <div class="form-row">
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <input type="text" class="form-control text-center" placeholder="ID" value="" id = "my_todos_id">
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                     <input type="text" class="form-control text-center mydatepicker" placeholder="Due Date" value="" id = "my_todos_date" >
                                                  </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" ><select id = "my_todos_ref_type" name = "my_todos_ref_type">
                                                        <option>Reference Type</option>
                                                  </select>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" >
                                                    <select id = "my_todos_priority" name = "my_todos_priority">
                                                        <option>Priority</option>
                                                      </select>
                                                      </div>
                                                </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" >
                                                    <select id = "my_todos_assigned_by" name = "my_todos_assigned_by">
                                                        <option>Assigned By</option>

                                                      </select>
                                                      </div>
                                                  </div>

                                                </form>
                                              </div>

                                            <div class="form-row" v-for="todo in my_todos">
                                                <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <a href="#" @click.prevent="showTodo(1, todo.name)">[% todo.name %]</a> </div>
                                                 </div>
                                                <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <p @click.prevent="showTodo(1, todo.date)">[% todo.date %]</p></div>
                                                 </div>
                                                 <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <p  @click.prevent="showTodo(1, todo.reference_type)">[% todo.reference_type %]</p></div>
                                                 </div>
                                                 <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <p  @click.prevent="showTodo(1, todo.priority)">[% todo.priority %]</p></div>
                                                 </div>
                                                 <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <p  @click.prevent="showTodo(1, todo.assigned_by)">[% todo.assigned_by %]</p></div>
                                                 </div>

                                                 <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card border-dark mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 mx-auto scroll-box" id="box1">
                                            <h4>Assigned Todo</h4>
                                            <form class="needs-validation" novalidate>
                                                <div class="form-row">
                                                  <div class="col-md-2 mb-3 text-center">
                                                     <input type="text" class="form-control text-center " placeholder="ID" value=""  id = "my_assigned_id">
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <input type="text" class="form-control text-center mydatepicker" placeholder="Due Date" value=""  id = "my_assigned_date">
                                                 </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <select id = "assigned_reference_type" name = "assigned_reference_type">
                                                        <option>Reference Type</option></div>
                                                    </select></div>
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <select id = "assigned_priority" name = "assigned_priority">
                                                        <option>Priority</option>
                                                    </select></div>
                                                  </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value like-disabled-input" > <select id = "assigned_to" name = "assigned_to">
                                                        <option>Assigned To</option>
                                                    </select></div>
                                                </div>
                                                </form>
                                              </div>
                                            <!-- <ul> -->
                                                <div class="form-row" v-for="todo in assigned_todos">
                                                    <div class="col-md-2 mb-3 text-center">
                                                        <div class="control-value like-disabled-input" > <a href="#" @click.prevent="showTodo(0, todo.name)">[% todo.name %]</a></div>
                                                     </div>
                                                    <div class="col-md-2 mb-3 text-center">
                                                        <div class="control-value like-disabled-input" > <p @click.prevent="showTodo(0, todo.date)">[% todo.date %]</p></div>

                                                     </div>
                                                     <div class="col-md-3 mb-3 text-center">
                                                        <div class="control-value like-disabled-input" >
                                                        <p @click.prevent="showTodo(0, todo.reference_type)">[% todo.reference_type %]</p>
                                                        </div>
                                                     </div>
                                                     <div class="col-md-2 mb-3 text-center">
                                                        <div class="control-value like-disabled-input" >
                                                        <p @click.prevent="showTodo(0, todo.priority)">[% todo.priority %]</p>
                                                        </div>
                                                     </div>
                                                     <div class="col-md-3 mb-3 text-center">
                                                        <div class="control-value like-disabled-input" >
                                                        <p @click.prevent="showTodo(0, todo.allocated_to)">[% todo.allocated_to %]</p>
                                                        </div>
                                                     </div>
                                                     <hr>
                                                </div>

                                                <!-- </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control text-center" placeholder="Year (1)" value="Mark " >
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control text-center" placeholder="Quarter (2)" value="Mark" disabled>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body scroll-box" style="height:650px;">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <!-- <label for="validationTooltip01">Title</label> -->
                                <label class="control-label" style="padding-right: 0px;">Title</label>
                                <input type="text" class="form-control" value="Mark" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">

                            <label class="control-label" style="padding-right: 0px;">Status</label>
                                <input type="text" class="form-control" :value="todo_pane.status" disabled>
                            </div>
                            <div class="col-md-6 mb-3">

                            <label class="control-label" style="padding-right: 0px;">Due Date</label>
                                <input type="text" class="form-control" :value="todo_pane.date" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">

                                <label class="control-label" style="padding-right: 0px;">Description</label>
                                <textarea type="text" class="form-control" :value="todo_pane.description" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">

                                <label class="control-label" style="padding-right: 0px;">Priority</label>
                                <input type="text" class="form-control"  :value="todo_pane.priority" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="control-label" style="padding-right: 0px;">Assigned By</label>

                                <input type="text" class="form-control" :value="todo_pane.assigned_by" disabled>
                            </div>
                            <div class="col-md-6 mb-3">

                                <label class="control-label" style="padding-right: 0px;">Allocated To</label>
                                <input type="text" class="form-control" :value="todo_pane.allocated_to" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">

                                <label class="control-label" style="padding-right: 0px;">Reference Type</label>
                                <input type="text" class="form-control" :value="todo_pane.reference_type" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">

                                <label class="control-label" style="padding-right: 0px;">User & Full Name</label>
                                <input type="text" class="form-control" :value="todo_pane.assigned_by_full_name" disabled>
                            </div>
                        </div>
                        <div class="form-row" :style="">
                            <div class="col-md-12" title="View the document">
                                <label for="validationTooltip01"></label>

                                <a href="#" @click="open_ref(todo_pane.url)" class="btn btn-block btn-warning text-center" target="_blank">Go to Ref</a>
                            </div>
                            <div class="col-md-12 mb-3" title="Copy the link to document">
                                <label for="validationTooltip01"></label>
                                <a class="btn btn-block btn-warning text-center" @click="copyText(todo_pane.url)">Copy Link</a>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3" style="text-align: center;">
                                <button id="save_todo" class="btn btn-primary">Save Todo 1</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
