<style>
    .special-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.75rem;
    }
    .sp-like-disabled-input {
    min-height: var(--input-height);
    border-radius: var(--border-radius);
    font-weight: 400;
    padding: 6px 12px;
    cursor: default;
    background: rgba(59, 66, 59, 0.1)
    }

    #stickypane {
        position: sticky;
        width: auto;
        top: 0;
        
        background-color: #fff;
        z-index: 1;}

    .spl_form-control {
    border: 1px solid;
    font-size: var(--text-md);
    position: relative;
    }
    
    #refresh{
        font-weight: 600;
        margin: 0px 15px 0px 0px;
    }

    .spinner-overlay {
        display: none; 
        position: fixed; /* Or absolute, depending on your layout */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(248, 246, 246, 0.3); /* Semi-transparent background */
        z-index: 99; 
        justify-content: center;
        align-items: center;
    }

    .spinner {
        position: fixed; 
        top: 50%; 
        left: 50%;
        z-index: 999; /*Ensure it sits above other content*/
    }

</style>

<div class="spinner-overlay" id="spinner-overlay"></div>
<div class="spinner" id="spinner"></div>
<div id="OKR-APP">
    <div class="container-fluid" id="app-container" style="display:none; background-color: transparent;">
        <div class="col-md-12" id = "stickypane">
            <div class="special-card border-dark mb-3" >
                <div class="card-body special-card" >
                    <table class="table table-bordered text-dark" >
                    <tbody>
                        <tr class="table-primary" >
                            <td>The Goal: <b>[% company_goal %]</b></td>
                        </tr>
                        <tr class="table-success" >
                            <td>Company Objective: <b>[% company_objective %]</b></td>
                        </tr>
                        <tr class="table-warning">
                            <td>Company Objective Quarter: <b>[% company_objective_quarter %]</b></td>
                        </tr>
                        <tr class="table-danger">
                            <td>My Objective: <b>[% my_objective %]</b></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-9 scroll-box"  id = "stickyrow" style="height:1000px;">
            <div class="special-card border-dark mb-3">
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="special-card border-dark mb-3">
                                <div class="card-body special-card">
                                    <div class="row">
                                        <div class="col-md-3 special-card border-dark mx-auto scroll-box" id="box1">
                                                <div class="widget-head">
                                                    <div class="widget-label">
                                                      <div class="widget-title"><span class="ellipsis" title="Routine Tasks">Routine Tasks (Count)</span></div>

                                                      <div class="widget-subtitle"></div>
                                                    </div>
                                                  </div>
                                                  <div v-for="task in routine_tasks">
                                                    <div class="control-value sp-like-disabled-input" >
                                                        <a href="#" @click.prevent="showTodo(task.todo)">[% task.task %]</a>
                                                    </div>

                                                </div>
                                        </div>
                                        <div class="col-md-3 special-card border-dark scroll-box" id="box2">

                                            <div class="widget-head">
                                                <div class="widget-label">
                                                  <div class="widget-title"><span class="ellipsis" title="Active Repetitive">Active Repetitive</span></div>
                                                  <div class="widget-subtitle"></div>
                                                </div>
                                              </div>
													<div v-for="project in active_repetitive_projects">
                                                        <div class="control-value sp-like-disabled-input">
                                                            <a href="#" @click.prevent="showTodo(project.todo)">[% project.project %]</a>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="col-md-3 special-card border-dark scroll-box" id="box3">

                                            <div class="widget-head">
                                                <div class="widget-label">
                                                  <!-- <div class="widget-title"><span class="ellipsis" title="Personal Project">Personal Project</span></div> -->
                                                  <div class="section-head">
                                                    Personal Projects
                                                    <span class="ml-2 collapse-indicator mb-1" style="display: none;"></span>
                                                </div>
                                                  <div class="widget-subtitle"></div>
                                                </div>
                                              </div>
                                            <div v-for="project in personal_projects">
                                                <div class="control-value sp-like-disabled-input">
                                                    <a href="#" @click.prevent="showTodo(project.todo)">[% project.project %]</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 special-card border-dark scroll-box" id="box4">

                                            <div class="widget-head">
                                                <div class="widget-label">
                                                  <div class="widget-title"><span class="ellipsis" title="Scrum Project">Scrum Project</span></div>
                                                  <div class="widget-subtitle"></div>
                                                </div>
                                              </div>
                                            <div v-for="project in scrum_projects">
                                                <div class="control-value sp-like-disabled-input">
                                                    <a href="#" @click.prevent="showTodo(project.todo)">[% project.project %]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="special-card border-dark mb-3">
                                <div class="card-body special-card">
                                    <div class="row">
                                        <div class="col-md-12 mx-auto scroll-box" id="box1">
                                            <h4>My Todo</h4>
                                              <form class="needs-validation" novalidate>
                                                <div class="form-row">
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <input type="text" class="form-control spl_form-control bg-white text-center" placeholder="ID" value="" id = "my_todos_id">
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                     <input type="text" class="form-control spl_form-control bg-white text-center mydatepicker" placeholder="Due Date" value="" id = "my_todos_date" >
                                                  </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" >
                                                    <select id = "my_todos_ref_type" name = "my_todos_ref_type">
                                                        <option>Reference Type</option>
                                                  </select>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" >
                                                    <select id = "my_todos_priority" name = "my_todos_priority">
                                                        <option>Priority</option>
                                                      </select>
                                                      </div>
                                                </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" >
                                                    <select id = "my_todos_assigned_by" name = "my_todos_assigned_by">
                                                        <option>Assigned By</option>

                                                      </select>
                                                      </div>
                                                  </div>

                                                </form>
                                              </div>

                                            <div class="form-row" v-for="todo in my_todos">
                                                <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <a href="#" @click.prevent="showTodo(todo.name)">[% todo.description %]</a> </div>
                                                 </div>
                                                <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <p>[% todo.date %]</p></div>
                                                 </div>
                                                 <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <p>[% todo.reference_type %]([% todo.type %])</p></div>
                                                 </div>
                                                 <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <p>[% todo.priority %]</p></div>
                                                 </div>
                                                 <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <p>[% todo.assigned_by %]</p></div>
                                                 </div>

                                                 <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="special-card border-dark mb-3">
                                <div class="card-body special-card">
                                    <div class="row">
                                        <div class="col-md-12 mx-auto scroll-box" id="box1">
                                            <h4>Assigned Todo</h4>
                                            <form class="needs-validation" novalidate>
                                                <div class="form-row">
                                                  <div class="col-md-2 mb-3 text-center">
                                                     <input type="text" class="form-control spl_form-control bg-white text-center " placeholder="ID" value=""  id = "my_assigned_id">
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <input type="text" class="form-control spl_form-control bg-white text-center mydatepicker" placeholder="Due Date" value=""  id = "my_assigned_date">
                                                 </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <select id = "assigned_reference_type" name = "assigned_reference_type">
                                                        <option>Reference Type</option></div>
                                                    </select></div>
                                                  </div>
                                                  <div class="col-md-2 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <select id = "assigned_priority" name = "assigned_priority">
                                                        <option>Priority</option>
                                                    </select></div>
                                                  </div>
                                                  <div class="col-md-3 mb-3 text-center">
                                                    <div class="control-value sp-like-disabled-input" > <select id = "assigned_to" name = "assigned_to">
                                                        <option>Assigned To</option>
                                                    </select></div>
                                                </div>
                                                </form>
                                              </div>
                                            <!-- <ul> -->
                                                <div class="form-row" v-for="todo in assigned_todos">
                                                    <div class="col-md-2 mb-3 text-center">
                                                        <div class="control-value sp-like-disabled-input" > <a href="#" @click.prevent="showTodo(todo.name)">[% todo.description %]</a></div>
                                                     </div>
                                                    <div class="col-md-2 mb-3 text-center">
                                                        <div class="control-value sp-like-disabled-input" > <p>[% todo.date %]</p></div>

                                                     </div>
                                                     <div class="col-md-3 mb-3 text-center">
                                                        <div class="control-value sp-like-disabled-input" >
                                                        <p>[% todo.reference_type %]([% todo.type %])</p>
                                                        </div>
                                                     </div>
                                                     <div class="col-md-2 mb-3 text-center">
                                                        <div class="control-value sp-like-disabled-input" >
                                                        <p>[% todo.priority %]</p>
                                                        </div>
                                                     </div>
                                                     <div class="col-md-3 mb-3 text-center">
                                                        <div class="control-value sp-like-disabled-input" >
                                                        <p>[% todo.allocated_to %]</p>
                                                        </div>
                                                     </div>
                                                     <hr>
                                                </div>

                                                <!-- </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="special-card border-dark mb-3">
                <div class="card-body special-card">
                    <div class="form-row">
                        <div class="awesomplete col-md-6 mb-3">
														<label class="control-label" style="padding-right: 0px;">Year</label>
                            <select class="input-with-feedback form-control spl_form-control bg-white" id = "okr_year" name = "okr_year">
																<option>Select Year</option>
														</select>
                        </div>
												<div class="awesomplete col-md-6 mb-3">
														<label class="control-label" style="padding-right: 0px;">Quarter</label>
                            <select class="input-with-feedback form-control spl_form-control bg-white" id = "okr_quarter" name = "okr_quarter">
																<option>Select Quarter</option>
														</select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body scroll-box todo-pane-block" style="height:650px; display:none;">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 mb-3" style="text-align: center;">
                                <button id="clear_todo_pane"  @click.prevent="clearTodo()" class="btn btn-warning">Clear Todo</button>
                            </div>
                            <div class="col-md-6 mb-3" style="text-align: center;">
                                <button id="edit_todo_pane"  @click.prevent="editTodo()" class="btn btn-primary">Edit Todo</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">

                            <label class="control-label" style="padding-right: 0px;">Status</label>
                                <select class="form-control spl_form-control bg-white" id = "status_field" name="status_field" :value="todo_pane.status"  v-model="todo_pane.status" disabled>
                                    <option>Open</option>
                                    <option>Closed</option>
                                    <option>Cancelled</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">

                            <label class="control-label" style="padding-right: 0px;">Due Date</label>
                                <input type="text" class="form-control spl_form-control bg-white" :value="todo_pane.date" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">

                                <label class="control-label" style="padding-right: 0px;">Description</label>
                                <textarea type="text" id="description_field" class="form-control spl_form-control bg-white" :value="todo_pane.description" v-model="todo_pane.description" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label class="control-label" style="padding-right: 0px;">Priority</label>
                                <select class="form-control spl_form-control bg-white" id="priority_field" name="status_field" :value="todo_pane.priority" v-model="todo_pane.priority" disabled>
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="control-label" style="padding-right: 0px;">Assigned By</label>

                                <input type="text" class="form-control spl_form-control bg-white" :value="todo_pane.assigned_by" disabled>
                            </div>
                            <div class="col-md-6 mb-3">

                                <label class="control-label" style="padding-right: 0px;">Allocated To</label>
                                <input type="text" class="form-control spl_form-control bg-white" :value="todo_pane.allocated_to" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">

                                <label class="control-label" style="padding-right: 0px;">Reference Type</label>
                                <input type="text" class="form-control spl_form-control bg-white" :value="todo_pane.reference_type" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">

                                <label class="control-label" style="padding-right: 0px;">User & Full Name</label>
                                <input type="text" class="form-control spl_form-control bg-white" :value="todo_pane.assigned_by_full_name" disabled>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12 mb-3" style="text-align: center;">
                                <button id="save_todo" @click.prevent="saveTodo" class="btn btn-primary" style="display:none">Save Todo</button>
                            </div>
                        </div>
                        <div class="form-row" :style="">
                            <div class="col-md-12" title="View the document">
                                <label for="validationTooltip01"></label>
                                <a href="#" @click="open_ref" class="btn btn-block btn-warning text-center" id ="gotobutton">Go to Ref</a>
                            </div>
                            <div class="col-md-12 mb-3" title="Copy the link to document">
                                <label for="validationTooltip01"></label>
                                <a class="btn btn-block btn-warning text-center" @click="copyText" id ="copybutton">Copy Link</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
